# Top 5

# Excerise 2

\-- The following query against the Sales.OrderValues view returns

\-- distinct values and their associated row numbers

```
USE TSQLV4;

SELECT val, ROW_NUMBER() OVER(ORDER BY val) AS rownum
FROM Sales.OrderValues
GROUP BY val;

```

\-- Can you think of an alternative way to achieve the same task?

\-- Tables involved: TSQLV4 database, Sales.OrderValues view

## My Answer

**Proposition:** Write a query that assigns a unique row number to each distinct value of val from the Sales.OrderValues view, ordered by val.

**View:** Sales.OrderValues

**Columns:** val and a generated row number for each distinct val.

**Predicate:**

```
WITH DistinctVals AS (
    SELECT DISTINCT val
    FROM Sales.OrderValues
)

```

This CTE (Common Table Expression) named DistinctVals filters the Sales.OrderValues table to return only distinct values of val.

**What's special?**

**Common Table Expression:** A CTE that creates a temporary result set named DistinctVals returns non duplicate values from column val

**ROW_NUMBER() OVER (ORDER BY val):** returns a unique sequential number for each unique val based on its order in the val sequence

In [ ]:
USE TSQLV4;
USE Northwinds2022TSQLV7;
WITH DistinctVals AS (
    SELECT DISTINCT val
    FROM Sales.OrderValues
)
SELECT val, ROW_NUMBER() OVER (ORDER BY val) AS rownum
FROM DistinctVals;


USE Northwinds2022TSQLV7;
WITH DistinctVals AS (
    SELECT DISTINCT val
    FROM Sales.OrderValues
)
SELECT val, ROW_NUMBER() OVER (ORDER BY val) AS rownum
FROM DistinctVals;

**<u> 5.-- Pivoting Data</u>**

**Proposition:** Drop the dbo.Orders table, create a new dbo.Orders table, insert data into the table then write a query that selects all records from the Orders table.

**Table:** dbo.Orders

**Columns:**  OrderId, OrderDate, EmployeeId, CustomerId, Qty     

**Predicate:** no predicate

**What special?** 

Inorder for the table to be created in Northwinds, I had to alter the contraint name.

In [ ]:
-- Listing 1: Code to Create and Populate the Orders Table
USE TSQLV4;

DROP TABLE IF EXISTS dbo.Orders;
GO

CREATE TABLE dbo.Orders
(
  orderid   INT        NOT NULL,
  orderdate DATE       NOT NULL,
  empid     INT        NOT NULL,
  custid    VARCHAR(5) NOT NULL,
  qty       INT        NOT NULL,
  CONSTRAINT PK_Orders PRIMARY KEY(orderid)
);

INSERT INTO dbo.Orders(orderid, orderdate, empid, custid, qty)
VALUES
  (30001, '20140802', 3, 'A', 10),
  (10001, '20141224', 2, 'A', 12),
  (10005, '20141224', 1, 'B', 20),
  (40001, '20150109', 2, 'A', 40),
  (10006, '20150118', 1, 'C', 14),
  (20001, '20150212', 2, 'B', 12),
  (40005, '20160212', 3, 'A', 10),
  (20002, '20160216', 1, 'C', 20),
  (30003, '20160418', 2, 'B', 15),
  (30004, '20140418', 3, 'C', 22),
  (30007, '20160907', 3, 'D', 30);

SELECT * FROM dbo.Orders;



USE Northwinds2022TSQLV7;

DROP TABLE IF EXISTS dbo.Orders;
GO

CREATE TABLE dbo.Orders
(
  OrderId       INT        NOT NULL,
  OrderDate     DATE       NOT NULL,
  EmployeeId    INT        NOT NULL,
  CustomerId    VARCHAR(5) NOT NULL,
  Qty           INT        NOT NULL,
  CONSTRAINT PK_Orders_New PRIMARY KEY(OrderId)
);

INSERT INTO dbo.Orders(OrderId, OrderDate, EmployeeId, CustomerId, Qty)
VALUES
  (30001, '20140802', 3, 'A', 10),
  (10001, '20141224', 2, 'A', 12),
  (10005, '20141224', 1, 'B', 20),
  (40001, '20150109', 2, 'A', 40),
  (10006, '20150118', 1, 'C', 14),
  (20001, '20150212', 2, 'B', 12),
  (40005, '20160212', 3, 'A', 10),
  (20002, '20160216', 1, 'C', 20),
  (30003, '20160418', 2, 'B', 15),
  (30004, '20140418', 3, 'C', 22),
  (30007, '20160907', 3, 'D', 30);

SELECT * FROM dbo.Orders;

**<u>5.<mark>\-</mark><mark>\-</mark> Pivoting Data</u>**

**Proposition:** Write a query that aggregates order quantities by employee and customer from the Orders table.

**Table:** dbo.Orders

**Columns:** EmployeeId, CustomerId, SUM(Qty) as SumQty from the dbo.Orders table.

**Predicate:**

```
GROUP BY EmployeeId, CustomerId

```

This GROUP BY clause organizes the rows into groups by the combination of EmployeeId and CustomerId, which allows for the aggregation function (SUM(Qty)) to calculate the total quantity of orders for each unique employee customer pair.

**What special?**

There is an aggreate function as one of the columns in the result set. It is aliased as SumQty

There is a Group by clause due to the aggreate function in the query. It is needed because SUM(Qty) AS SumQty calculates the total quantity of orders (Qty) for each unique combination of EmployeeId and CustomerId. Without GROUP BY, you wouldn't be able to calculate this sum for each groupÂ you'd only get a single total sum for all rows in the table.

In [ ]:
use TSQLV4;
-- Query against Orders, grouping by employee and customer
SELECT empid, custid, SUM(qty) AS sumqty
FROM dbo.Orders
GROUP BY empid, custid;

use Northwinds2022TSQLV7;
-- Query against Orders, grouping by employee and customer
SELECT EmployeeId, CustomerId, SUM(Qty) AS SumQty
FROM dbo.Orders
GROUP BY EmployeeId, CustomerId;

**<u> 6.-- Pivoting with a Grouped Query</u>**

**Proposition:** Write a query that aggregates order quantities by employee, broken down by specific customers (A, B, C, D), using a pivot-like structure.

**Table:** dbo.Orders

**Columns:** EmployeeId, and SUM(Qty) for each CustomerId ('A', 'B', 'C', 'D') as separate columns from the dbo.Orders table.

**Predicate:** 

```
GROUP BY EmployeeId
```

This GROUP BY clause organizes the data by EmployeeId, allowing for the aggregation of order quantities (Qty) separately for each specified customer (A, B, C, D) within the same row for each employee.

**What's special?**

**Conditional Aggregation:** Selectively sum the quantities of orders based on the customer ID. This approach allows for the aggregation of data based on specific conditions within the same column, showcasing a flexible method to summarize data differently in parallel.

**Pivoting with a Grouped:** Using conditional aggregation, it pivots the data by transforming the CustomerId values ('A', 'B', 'C', 'D') into separate columns in the output. Each of these columns represents the total quantity of orders for that customer ID, as handled by each employee.

In [ ]:
USE TSQLV4;
-- Query against Orders, grouping by employee, pivoting customers,
-- aggregating sum of quantity
SELECT empid,
  SUM(CASE WHEN custid = 'A' THEN qty END) AS A,
  SUM(CASE WHEN custid = 'B' THEN qty END) AS B,
  SUM(CASE WHEN custid = 'C' THEN qty END) AS C,
  SUM(CASE WHEN custid = 'D' THEN qty END) AS D  
FROM dbo.Orders
GROUP BY empid;

use Northwinds2022TSQLV7;
-- Query against Orders, grouping by employee, pivoting customers,
-- aggregating sum of quantity
SELECT EmployeeId,
  SUM(CASE WHEN CustomerId = 'A' THEN Qty END) AS A,
  SUM(CASE WHEN CustomerId = 'B' THEN Qty END) AS B,
  SUM(CASE WHEN CustomerId = 'C' THEN Qty END) AS C,
  SUM(CASE WHEN CustomerId = 'D' THEN Qty END) AS D  
FROM dbo.Orders
GROUP BY EmployeeId;

**<u>9.<mark>\-</mark><mark>\-</mark> Unpivoting with the APPLY Operator</u>**

**Proposition:** Generate a dataset that includes all combinations of records from the dbo.<mark>EmpCustOrders</mark> table and a set of specified customer IDs ('A', 'B', 'C', 'D').

**Table:** dbo.<mark>EmpCustOrders</mark>

**Columns:** All columns from the dbo.<mark>EmpCustOrders</mark> table and the CustomerId from the cross joined table.

**Predicate:**

```
CROSS JOIN (VALUES('A'),('B'),('C'),('D')) AS C(CustomerId)

```

This CROSS JOIN operation creates a Cartesian product between every row in the dbo.<mark>EmpCustOrders</mark> table and a derived table containing four rows for Customer IDs 'A', 'B', 'C', and 'D'. As a result, for each record in the dbo.<mark>EmpCustOrders</mark> table, there are four copies, each associated with one of the customer IDs 'A', 'B', 'C', or 'D'.

**What's special?**

**(VALUES('A'),('B'),('C'),('D')) AS C(CustomerId):** This part creates a derived table on<mark>\-</mark>the<mark>\-</mark>fly containing a single column (CustomerId) with four rows ('A', 'B', 'C', 'D'). This derived table is then aliased as C for reference in the query.

**CROSS JOIN:** Cartesian product between every row in the dbo.<mark>EmpCustOrders</mark> table and a derived table

In [ ]:
USE TSQLV4;
-- Unpivot Step 1: generate copies
SELECT *
FROM dbo.EmpCustOrders
  CROSS JOIN (VALUES('A'),('B'),('C'),('D')) AS C(custid);

USE Northwinds2022TSQLV7;
-- Unpivot Step 1: generate copies
SELECT *
FROM dbo.EmpCustOrders
  CROSS JOIN (VALUES('A'),('B'),('C'),('D')) AS C(CustomerId);

# Other Queries

**<u>9.-- Unpivoting with the APPLY Operator</u>**

**Proposition:** Transform and represent quantities for specific customers (A, B, C, D) from columns to rows for each employee in the dbo.EmpCustOrders table. The goal is to convert quantities stored in separate columns for each customer ('A', 'B', 'C', 'D') into a row-based format, with each row representing a quantity for a specific customer associated with an employee.

**Table:** dbo.EmpCustOrders

**Columns:** EmployeeId, CustomerId, and Qty.

**Predicate:**

```
CROSS JOIN (VALUES('A', A),('B', B),('C', C),('D', D)) AS C(CustomerId, Qty)

```

**why doesn't it run?**

The attempt to reference columns 'A', 'B', 'C', 'D' within the VALUES clause of a CROSS JOIN operation is invalid. This is because the VALUES clause expects constants or variables that are defined outside the CROSS JOIN context, and it cannot directly reference column names from the table being joined.

**The correct approach**

```
-- Unpivot Step 3: eliminate NULLs
SELECT EmployeeId, CustomerId, Qty
FROM dbo.EmpCustOrders
  CROSS APPLY (VALUES('A', A),('B', B),('C', C),('D', D)) AS C(CustomerId, Qty)
WHERE Qty IS NOT NULL;

```

In [ ]:
USE TSQLV4;
-- Unpivot Step 2: extract elements
/*
SELECT empid, custid, qty
FROM dbo.EmpCustOrders
  CROSS JOIN (VALUES('A', A),('B', B),('C', C),('D', D)) AS C(custid, qty);
*/


USE Northwinds2022TSQLV7;
-- Unpivot Step 2: extract elements
/*
SELECT EmployeeId, CustomerId, Qty
FROM dbo.EmpCustOrders
  CROSS JOIN (VALUES('A', A),('B', B),('C', C),('D', D)) AS C(CustomerId, Qty);
*/

**<u> 9.-- Unpivoting with the APPLY Operator</u>**

**Proposition:** Transform and retrieve employee and customer specific order quantities from the dbo.EmpCustOrders table, where customer order quantities are stored in separate columns ('A', 'B', 'C', 'D').

Table: dbo.EmpCustOrders

**Columns:** EmployeeId, CustomerId, Qty. The EmployeeId comes directly from the dbo.EmpCustOrders table, while CustomerId and Qty are derived from applying a transformation to pivot customer-specific quantities into rows.

**Predicate:**

```
CROSS APPLY (VALUES('A', A),('B', B),('C', C),('D', D)) AS C(CustomerId, Qty)
```

This operation uses CROSS APPLY to transform columns into rows, creating a new row for each customer (A, B, C, D) along with the respective quantity for that customer. Each original row in dbo.EmpCustOrders is expanded into four rows, one for each customer, with the corresponding quantities pivoted from columns into these rows.

In [ ]:
USE TSQLV4;
-- Unpivot Step 2: extract elements
SELECT empid, custid, qty
FROM dbo.EmpCustOrders
  CROSS APPLY (VALUES('A', A),('B', B),('C', C),('D', D)) AS C(custid, qty);



USE Northwinds2022TSQLV7;
-- Unpivot Step 2: extract elements
SELECT EmployeeId, CustomerId, Qty
FROM dbo.EmpCustOrders
  CROSS APPLY (VALUES('A', A),('B', B),('C', C),('D', D)) AS C(CustomerId, Qty);

**<u> 9.-- Unpivoting with the APPLY Operator</u>**

**Proposition:** Filter and retrieve non-null employee and customer-specific order quantities from the dbo.EmpCustOrders table, transforming customer order quantities stored in separate columns into rows.

**Table:** dbo.EmpCustOrders

**Columns:** EmployeeId, CustomerId, Qty. EmployeeId is directly from the dbo.EmpCustOrders table, while CustomerId and Qty are generated through a transformation that pivots customer-specific quantities from columns to rows, excluding any null quantities.

**Predicate:**

```
WHERE Qty IS NOT NULL
```
This WHERE clause is applied to the result of the CROSS APPLY operation, which expands each original row in the dbo.EmpCustOrders table into rows for each customer (A, B, C, D) along with their respective quantities. The WHERE Qty IS NOT NULL filter excludes any rows where the quantity is null, ensuring that only rows with a valid quantity for a customer are returned.

In [ ]:
USE TSQLV4;
-- Unpivot Step 3: eliminate NULLs
SELECT empid, custid, qty
FROM dbo.EmpCustOrders
  CROSS APPLY (VALUES('A', A),('B', B),('C', C),('D', D)) AS C(custid, qty)
WHERE qty IS NOT NULL;


USE Northwinds2022TSQLV7;
-- Unpivot Step 3: eliminate NULLs
SELECT EmployeeId, CustomerId, Qty
FROM dbo.EmpCustOrders
  CROSS APPLY (VALUES('A', A),('B', B),('C', C),('D', D)) AS C(CustomerId, Qty)
WHERE Qty IS NOT NULL;