# My Top Five

# Query 4
In this query we want to return orders with total value (quantity * unitprice) greater than 10000 sorted by total value.

In order to do that, we need to:

1. Select the Order ID (`orderid`) and total value (`qty * unitprice`) of orders from a table named `OrderDetails` within a schema named `Sales`.
2. Then, filter and return those orders whose total value (`qty * unitprice`) is greater than 10000.



  

## Let's break this down:

The names of the output columns will be `orderid` and `totalvalue`.

`SUM(qty * unitprice)` calculates the total value of each order by multiplying the quantity (`qty`) of each item in the order by its unit price (`unitprice`), and then summing these products for all items within the same order.

`SUM(qty * unitprice) AS totalvalue`: The `SUM(qty * unitprice)` calculation is labeled as `totalvalue` for each order.

`GROUP BY orderid`: `SUM(qty * unitprice)` is performed separately for each order. There will be one row per order in the output, with each row showing the total value of that order.

`HAVING SUM(qty * unitprice) > 10000`: After grouping the results by order, we get orders with a total value greater than $10,000. We use `HAVING` instead of `WHERE` because `GROUP BY` combined multiple rows of data from the original table based on `SUM(qty * unitprice)` into one single row in the result set.

`ORDER BY totalvalue DESC`: The query sorts the resulting set of orders by their total value in descending order using the `DESC` keyword.

In [ ]:
USE TSQLV4;
SELECT orderid, SUM(qty * unitprice) AS totalvalue
FROM Sales.OrderDetails
GROUP BY orderid
HAVING SUM(qty * unitprice) > 10000
ORDER BY totalvalue DESC;

USE Northwinds2022TSQLV7;
SELECT OrderId, SUM(Quantity * UnitPrice) AS totalvalue
FROM sales.[OrderDetail]
GROUP BY OrderId
HAVING SUM(Quantity * UnitPrice) > 10000

# Query 5
In this query we want to return employees with a last name that starts with a lower case letter.

In order to do that, we need to:

1. Select the employee ID (`empid`) and last name (`lastname`) of employees from a table named `Employees` within a schema named `HR`.
2. Then, we filter and return those employees whose last names start with a lower case letter using `WHERE ASCII(LEFT(lastname, 1)) BETWEEN 97 AND 122;`.

Let's break this down:

- The names of the output columns will be `empid` and `lastname`.
- `LEFT(lastname, 1)` extracts the first character (letter) from the `lastname` column of each row.
- `ASCII(..)` takes any character that is passed through the function and returns its ASCII value.
- `ASCII(LEFT(lastname, 1)) BETWEEN 97 AND 122` checks if the first letter of the employee's lastname has an ASCII value between 97 and 122, which corresponds to lowercase letters 'a' through 'z'.

In [ ]:
USE TSQLV4;
SELECT empid, lastname
FROM HR.Employees
WHERE ASCII(LEFT(lastname, 1)) BETWEEN 97 AND 122;

USE Northwinds2022TSQLV7;
SELECT EmployeeId, EmployeeLastName
FROM HumanResources.[Employee]
WHERE ASCII(LEFT(EmployeeLastName, 1)) BETWEEN 97 AND 122;

# Proposition

- Calculate total freight and number of orders per employee and year

- for a specific customer (custid = 71)

- based on the order date and employee ID grouping

- Tables involved: Sales.Orders table

In [ ]:
USE TSQLV4;
SELECT
 empid,
 YEAR(orderdate) AS orderyear,
 SUM(freight) AS totalfreight,
 COUNT(*) AS numorders
FROM Sales.Orders
WHERE custid = 71
GROUP BY empid, YEAR(orderdate);

# Proposition

- Set the language to British English to influence date formatting

- Cast the string '02/12/2016' to the DATE datatype, considering the British English date format (dd/mm/yyyy)

- Tables involved: None (literal string)

In [ ]:
SET LANGUAGE British;
SELECT CAST('02/12/2016' AS DATE);

# Proposition

- Replicate the string `abc` three times to generate the result `abcabcabc`

- Utilizing the REPLICATE function in SQL Server

- Tables involved: None

In [ ]:
SELECT REPLICATE('abc', 3); -- 'abcabcabc'

# The Rest of my Exercise Explainations

# Query 1

In this query we want to return orders placed in June 2015.

In order to do that, we need to select the order ID (`orderid`), order date (`orderdate`), and customer ID (`custid`) columns from a table named `Orders` within a schema named `Sales`.

Then, we filter and return those orders placed in June 2015 using `WHERE OrderDate >= '2015-06-01' AND OrderDate < '2015-07-01'`.

## Let's break this down:

- `OrderDate >= '2015-06-01'` looks at orders that were placed on or after June 1st, 2015.
- `OrderDate < '2015-07-01'` looks at orders that were placed before but not on July 1st, 2015.
- You can alternatively use `OrderDate <= '2015-06-30'`, but `OrderDate < '2015-07-01'` looks cleaner.

## Now when you put them all together with the logical operator AND like so:

`WHERE OrderDate >= '2015-06-01' AND OrderDate < '2015-07-01'`

## Alternatives:

You will filter and only receive the orders placed on or after June 1st, 2015, and before but not on July 1st, 2015, so from June 1st, 2015, to July 1st, 2015.

In [ ]:
USE TSQLV4;
SELECT orderid, orderdate, custid, empid
FROM Sales.Orders
WHERE orderdate >= '2015-06-01' AND orderdate < '2015-07-01'

USE Northwinds2022TSQLV7;
SELECT OrderId, OrderDate, CustomerId, EmployeeId
FROM sales.[ORDER]
WHERE OrderDate >= '2015-06-01' AND OrderDate < '2015-07-01';

# Query 2
In this query, we aim to retrieve orders where the order date corresponds to the last day of the month.

To accomplish this, we first utilize the `DAY` function in conjunction with the `EOMONTH` function. Here's how it breaks down:

- `DAY(OrderDate)` extracts the day component from the order date.
- `EOMONTH(OrderDate)` returns the last day of the month for each order date.
- `DAY(EOMONTH(OrderDate))` extracts the day component from the last day of the month for each order date.

Then, we filter the results to only include orders where the day of the order date matches the day of the last day of the month. This ensures that we're selecting orders with order dates corresponding to the end of the month.

Finally, the query selects the order ID (`OrderId`), order date (`OrderDate`), customer ID (`CustomerId`), and employee ID (`EmployeeId`) from the `Order` table within the `Sales` schema.

In [ ]:
use TSQLV4;
SELECT
  empid,
  YEAR(orderdate) AS orderyear,
  SUM(freight) AS totalfreight,
  COUNT(*) AS numorders
FROM Sales.Orders
WHERE custid = 71
GROUP BY empid, YEAR(orderdate);

USE Northwinds2022TSQLV7;
SELECT OrderId, OrderDate, CustomerId, EmployeeId
FROM Sales.[Order]
WHERE DAY(OrderDate) = DAY(EOMONTH(OrderDate));

# Query 3

In this query, we want to return employees with last names containing the letter 'e' twice or more.

To accomplish this, we need to select the employee ID (`empid`), first name (`firstname`), and last name (`lastname`) of employees from a table named `Employees` within a schema named `HR`.

Then, we filter and return those employees whose last names contain the letter 'e' at least two times using the condition `WHERE LEN(lastname) - LEN(REPLACE(lastname, 'e', '')) >= 2`.

## Let's break this down:

- `LEN(lastname)` calculates the length of the original last name, counting the total number of characters it contains.
- `REPLACE(lastname, 'e', '')` replaces all instances of the letter 'e' in the `lastname` column with an empty string (''). In other words, it removes all 'e's from the last name.
- `LEN(REPLACE(lastname, 'e', ''))` calculates the length of the last name after all the 'e's have been removed. Since each 'e' removed reduces the length of the last name by one, the result of this calculation is the length of the last name without its 'e's.
- `LEN(lastname) - LEN(REPLACE(lastname, 'e', ''))` subtracts the length of the last name without 'e's from the original length of the last name. The result is the number of 'e's that were present in the last name because each 'e' removed accounts for a single unit of difference in length.

## All together
- `(length of last name) - (length of last name without 'e's) >= 2` means there were 2 or more 'e's in the employee's last name, and it will be selected by the query.

In [ ]:
USE TSQLV4;
SELECT empid, firstname, lastname
FROM HR.Employees
WHERE LEN(lastname) - LEN(REPLACE(lastname, 'e', '')) >= 2

USE Northwinds2022TSQLV7;
SELECT EmployeeId, EmployeeFirstName, EmployeeLastName
FROM HumanResources.[Employee]
WHERE LEN(EmployeeLastName) - LEN(REPLACE(EmployeeLastName, 'e', '')) >= 2

# Query 6

## Query 1:

- Filters orders on an individual basis before counting them, directly affecting which orders are considered for each employee.
- The result includes all employees who placed any orders before the specified date, counting only those orders.
- The first query is useful for understanding employee activity up to a certain date.

## Query 2:

- It first considers all orders placed by each employee and then applies a condition on the aggregated set (based on the latest order date) to decide which employees' total order counts to include.
- The result includes employees based on the date of their last order and counts all their orders, potentially including orders placed at any time, as long as their last order was before the specified date.
- The second query helps identify employees who might be considered inactive or no longer placing orders as of a certain date, offering insights into employee engagement over time.

In [ ]:
-- Query 1
USE TSQLV4;
SELECT empid, COUNT(*) AS numorders
FROM Sales.Orders
WHERE orderdate < '20160501'
GROUP BY empid;

SELECT empid, COUNT(*) AS numorders
FROM Sales.Orders
GROUP BY empid
HAVING MAX(orderdate) < '20160501';


-- Query 2
USE Northwinds2022TSQLV7;
SELECT EmployeeId, COUNT(*) AS numorders
FROM sales.[Order]
WHERE orderdate < '20160501'
GROUP BY EmployeeId;

SELECT EmployeeId, COUNT(*) AS numorders
FROM sales.[Order]
GROUP BY EmployeeId
HAVING MAX(orderdate) < '20160501';

# Query 7

In this query, we aim to find the top 3 countries with the highest average freight costs for orders placed in the year 2015.

To do this, we begin by selecting the top 3 ShipToCountry values and calculating the average freight cost (Freight) for each country.

## Lets break this down

- We retrieve this data from the [ORDER] table in the sales schema of the Northwinds2022TSQLV7 database.

- We then apply a filter to only include orders placed in the year 2015 using the condition YEAR(orderdate) = 2015.

- Next, we group the results by the ShipToCountry column, ensuring that each unique country is considered separately for the calculation of average freight costs.

- Finally, we sort the grouped results in descending order based on the calculated average freight cost (avgfreight). This ensures that the top 3 countries with the highest average freight costs appear at the top of the result set.

In [ ]:
USE TSQLV4;
SELECT TOP 3 shipcountry, AVG(freight) AS avgfreight
FROM Sales.Orders
WHERE YEAR(orderdate) = 2015
GROUP BY shipcountry
ORDER BY avgfreight DESC;

USE Northwinds2022TSQLV7;
SELECT TOP 3 ShipToCountry, AVG(Freight) AS avgfreight
FROM sales.[ORDER]
WHERE YEAR(orderdate) = 2015
GROUP BY ShipToCountry
ORDER BY avgfreight DESC;

# Query 8
In this query, we want to calculate row numbers for orders based on order date ordering (using order id as tiebreaker) for each customer separately.

To do this, we begin by selecting the CustomerId, OrderDate, and OrderId columns from the [ORDER] table in the sales schema of the Northwinds2022TSQLV7 database.

## Lets break this down

- we utilize the ROW_NUMBER() window function to assign a sequential row number to each order within its respective customer group. 
- We partition the data by CustomerId and order the rows within each partition by OrderDate and then by OrderId.

Finally, we order the results by CustomerId, OrderDate, and OrderId to ensure that the rows are displayed in a logical order.

In [ ]:
USE TSQLV4;
SELECT custid, orderdate, orderid,
   ROW_NUMBER() OVER (PARTITION BY custid ORDER BY orderdate, orderid) AS rownum
FROM Sales.Orders
ORDER BY custid, orderdate, orderid;

USE Northwinds2022TSQLV7;
SELECT CustomerId, OrderDate, OrderId,
  ROW_NUMBER() OVER (PARTITION BY CustomerId ORDER BY OrderDate, OrderId) AS rownum
FROM sales.[ORDER]
ORDER BY CustomerId, OrderDate, OrderId;

# Query 9
In this query, we  want to figure out and return for each employee the gender based on the title of courtesy Ms., Mrs. - Female, Mr. - Male, Dr. - Unknown

To do this, we select the specified columns from the Employees table in the HR schema of the TSQLV4 database. 

We then apply a CASE statement to categorize the gender based on the titleofcourtesy column. If the titleofcourtesy is 'Ms.' or 'Mrs.', we categorize the gender as 'Female'. 

If it is 'Mr.', we categorize the gender as 'Male'. 

For any other values or if the titleofcourtesy is NULL, we label the gender as 'Unknown'.

We repeat the same process for the Employee table in the humanresources schema of the Northwinds2022TSQLV7 database.

## Lets break this down

- CASE Statement: The CASE statement is used to evaluate conditions based on the titleofcourtesy column.
- Categorization: Based on the conditions, the gender column is assigned values 'Female', 'Male', or 'Unknown'.
- Alias: The derived column is aliased as gender to provide a clear representation of the gender category.

In [ ]:
USE TSQLV4;
SELECT empid, firstname, lastname, titleofcourtesy,
CASE
       WHEN titleofcourtesy IN ('Ms.', 'Mrs.') THEN 'Female'
       WHEN titleofcourtesy = 'Mr.' THEN 'Male'
       ELSE 'Unknown'
   END AS gender
FROM
   HR.Employees;

USE Northwinds2022TSQLV7;
SELECT EmployeeId, EmployeeFirstName, EmployeeLastName, EmployeeTitleofCourtesy,
CASE
      WHEN EmployeeTitleofCourtesy IN ('Ms.', 'Mrs.') THEN 'Female'
      WHEN EmployeeTitleOfCourtesy= 'Mr.' THEN 'Male'
      ELSE 'Unknown'
  END AS gender
FROM humanresources.[EMPLOYEE];

# Query 10

In this query, we want to return for each customer the customer ID and region sort the rows in the output by region having NULLs sort last (after non-NULL values)

To do this, we select the specified columns from the Customers table in the Sales schema of the TSQLV4 database. 

We then order the results by the region column, with NULL values appearing last.

We repeat the same process for the Customer table in the Sales schema of the Northwinds2022TSQLV7 database.

## This break this down:

- ORDER BY Clause: The ORDER BY clause is used to sort the result set based on the region column.
- CASE Statement: Within the ORDER BY clause, a CASE statement is employed to handle NULL values in the region column. It assigns a value of 1 to NULL regions and 0 to non-NULL regions.
- Sorting: The result set is sorted based on the values assigned by the CASE statement. NULL regions are placed after non-NULL regions in the sorted output.

In [ ]:
USE TSQLV4;
SELECT custid,region
FROM Sales.Customers
ORDER BY
   CASE
       WHEN region IS NULL THEN 1
       ELSE 0
   END,
   region;


USE Northwinds2022TSQLV7;
SELECT CustomerId,CustomerRegion
FROM Sales.Customer
ORDER BY
  CASE
      WHEN CustomerRegion IS NULL THEN 1
      ELSE 0
  END,
  CustomerRegion;

# Rest of my Propositions

***
- Identify employees who have processed more than one order per year

- for a specific customer (custid = 71)

- based on the order date, employee ID, and year grouping

- Tables involved: Sales.Orders table

In [ ]:
USE TSQLV4;
SELECT empid, YEAR(orderdate) AS orderyear, COUNT(*) AS numorders
FROM Sales.Orders
WHERE custid = 71
GROUP BY empid, YEAR(orderdate)
HAVING COUNT(*) > 1;

***
- Retrieve the unique combination of employee IDs and the corresponding order years

- for a specific customer (custid = 71)

- based on the order date

- Tables involved: Sales.Orders table

In [ ]:
USE TSQLV4;
SELECT empid, YEAR(orderdate) AS orderyear
FROM Sales.Orders
WHERE custid = 71;

* * *

- Identify employees who have processed more than one order per year

- for a specific customer (custid = 71)

- based on the order date, employee ID, and year grouping

- Sort the results by employee ID and order year

- Tables involved: Sales.Orders table

In [ ]:
USE TSQLV4;
SELECT empid, YEAR(orderdate) AS orderyear, COUNT(*) AS numorders
FROM Sales.Orders
WHERE custid = 71
GROUP BY empid, YEAR(orderdate)
HAVING COUNT(*) > 1
ORDER BY empid, orderyear;

***

- Retrieve the top 5 recent orders, ordered by order date and order ID in descending order

- Displaying order ID, order date, customer ID, and employee ID

- Tables involved: Sales.Orders table

In [ ]:
USE TSQLV4;
SELECT TOP (5) orderid, orderdate, custid, empid
FROM Sales.Orders
ORDER BY orderdate DESC, orderid DESC;

***

- Retrieve order details including order ID, employee ID, and order date

- for orders falling within the range of order IDs 10300 to 10310

- Tables involved: Sales.Orders table

In [ ]:
USE TSQLV4;
SELECT orderid, empid, orderdate
FROM Sales.Orders
WHERE orderid BETWEEN 10300 AND 10310;

***

- Retrieve order details including order ID, customer ID, employee ID, and order date

- for orders meeting specific criteria:

- For customer ID 1, select orders processed by employees 1, 3, or 5

- For customer ID 85, select orders processed by employees 2, 4, or 6

- Tables involved: Sales.Orders table

In [ ]:
USE TSQLV4;
SELECT orderid, custid, empid, orderdate
FROM Sales.Orders
WHERE
        custid = 1
    AND empid IN(1, 3, 5)
    OR  custid = 85
    AND empid IN(2, 4, 6);

***

- Classify orders based on their order ID, customer ID, and order value into predefined value categories

- Value categories are determined using a CASE statement based on the order value:

- Less than 1000

- Between 1000 and 3000

- More than 3000

- Unknown for any other values

- Tables involved: Sales.OrderValues table

In [ ]:
USE TSQLV4;
SELECT orderid, custid, val,
  CASE 
    WHEN val < 1000.00                   THEN 'Less than 1000'
    WHEN val BETWEEN 1000.00 AND 3000.00 THEN 'Between 1000 and 3000'
    WHEN val > 3000.00                   THEN 'More than 3000'
    ELSE 'Unknown'
  END AS valuecategory
FROM Sales.OrderValues;

***

- Retrieve customer details including customer ID, country, region, and city

- Excluding customers located in the region of Washington (WA) or with NULL region values

- Tables involved: Sales.Customers table

In [ ]:
USE TSQLV4;
SELECT custid, country, region, city
FROM Sales.Customers
WHERE region <> N'WA'
   OR region IS NULL;

***

- Retrieve information about collations including their names and descriptions

- Utilizing the system function sys.fn_helpcollations()

- Tables involved: None (system function)

In [ ]:
SELECT name, description
FROM sys.fn_helpcollations();

***

- Generate a concatenated location string for each customer, including country, region, and city

- Utilize the COALESCE function to handle NULL values for the region

- Tables involved: Sales.Customers table

In [ ]:
USE TSQLV4;
SELECT custid, country, region, city,
  country + COALESCE( N',' + region, N'') + N',' + city AS location
FROM Sales.Customers;

***

- Calculate the length in bytes of the Unicode string 'abcde'

- Utilizing the DATALENGTH function in SQL Server

- Tables involved: None (literal string)

- 'abcde' is not prefixed with N'', indicating it's not being treated as Unicode. So, it should return 5, not 10

In [ ]:
SELECT DATALENGTH(N'abcde'); -- 10

***

- Trim leading and trailing spaces from the string ' abc ' to return 'abc'

- Utilizing the LTRIM and RTRIM functions in SQL Server

- Tables involved: None (literal string)

In [ ]:
SELECT RTRIM(LTRIM(' abc ')); -- 'abc'

***

- Compress the given Unicode string 'This is my cv. Imagine it was much longer.' and then decompress it back to its original form

- Utilizing the COMPRESS and DECOMPRESS functions in SQL Server

- Casting the decompressed result to NVARCHAR(MAX) datatype

- Tables involved: None (literal string)

In [ ]:
SELECT
  CAST(
    DECOMPRESS(COMPRESS(N'This is my cv. Imagine it was much longer.'))
      AS NVARCHAR(MAX));

***

- Retrieve employee IDs and last names from the HR.Employees table

- Narrow down the results to employees whose last names start with the letters A, B, or C

- Utilize the LIKE operator with a pattern matching condition

- Tables involved: HR.Employees table

In [ ]:
USE TSQLV4;
SELECT empid, lastname
FROM HR.Employees
WHERE lastname LIKE N'[ABC]%';

***

- Convert the string '02/12/2016' to the DATE datatype, interpreting it as a British/French style date (dd/mm/yyyy)

- Utilize style code 103 for the conversion

- Tables involved: None (literal string)

In [ ]:

SELECT CONVERT(DATE, '02/12/2016', 103);

***

- Retrieve order details including order ID, customer ID, employee ID, and order date

- Filter the results to include only orders placed on February 12, 2016

- Utilize the Sales.Orders2 table

- Tables involved: Sales.Orders2 table

In [ ]:
/*
USE TSQLV4;
SELECT orderid, custid, empid, orderdate
FROM Sales.Orders2
WHERE orderdate = '20160212';
*/

***

- Retrieve order details including order ID, customer ID, employee ID, and order date

- Narrow down the results to include only orders placed in the year 2015

- Utilize the Sales.Orders table and extract the year from the orderdate column

- Tables involved: Sales.Orders table

In [ ]:
USE TSQLV4;
SELECT orderid, custid, empid, orderdate
FROM Sales.Orders
WHERE YEAR(orderdate) = 2015;

***

- Retrieve the current date and time separately using the SYSDATETIME function

- Cast the SYSDATETIME() value to DATE datatype to get the current date

- Cast the SYSDATETIME() value to TIME datatype to get the current time

- Tables involved: None (system function)

In [ ]:
SELECT
  CAST(SYSDATETIME() AS DATE) AS [current_date],
  CAST(SYSDATETIME() AS TIME) AS [current_time];

***

- Convert the current timestamp to a DATETIME datatype

- Convert the current timestamp to a character string in the format YYYYMMDD using style 112

- Convert the character string back to DATETIME datatype

- Tables involved: None (system function)

In [ ]:
SELECT CONVERT(DATETIME, CONVERT(CHAR(8), CURRENT_TIMESTAMP, 112), 112);

***

- Adjust the offset of the current system datetime with timezone information to UTC-05:00

- Utilize the SWITCHOFFSET function to perform the offset adjustment

- Tables involved: None (system function)

In [ ]:
SELECT SWITCHOFFSET(SYSDATETIMEOFFSET(), '-05:00');

***

- Convert datetimeoffset values to Pacific Standard Time (PST)

- Utilize the AT TIME ZONE clause to convert datetimeoffset values to the specified timezone

- Tables involved: None (literal datetimeoffset values)

In [ ]:
SELECT
  CAST('20160212 12:00:00.0000000 -05:00' AS DATETIMEOFFSET)
    AT TIME ZONE 'Pacific Standard Time' AS val1,
  CAST('20160812 12:00:00.0000000 -04:00' AS DATETIMEOFFSET)
    AT TIME ZONE 'Pacific Standard Time' AS val2;

***

- Calculate the first day of the current month using SYSDATETIME function

- Utilize the DATEDIFF function to calculate the difference in months between the given date '1900-01-01' and the current date

- Utilize the DATEADD function to add the calculated months to the given date '1900-01-01' to obtain the first day of the current month

- Tables involved: None (system function and literal date '1900-01-01')

In [ ]:
SELECT
  DATEADD(
    month, 
    DATEDIFF(month, '19000101', SYSDATETIME()), '19000101');

***

- Extract the year component from the date '20160212'

- Utilize the DATENAME function with the year parameter

- Tables involved: None (literal date '20160212')

In [ ]:
SELECT DATENAME(year, '20160212');

***

- Retrieve order details including order ID, order date, customer ID, and employee ID

- Filter the results to include only orders placed on the last day of the month

- Utilize the EOMONTH function to obtain the last day of the month for each order date

- Tables involved: Sales.Orders table

In [ ]:
USE TSQLV4;
SELECT orderid, orderdate, custid, empid
FROM Sales.Orders
WHERE orderdate = EOMONTH(orderdate);

***

- Execute the system stored procedure sp_tables to retrieve information about tables and views in the current database

- This procedure returns a result set with columns like TABLE_QUALIFIER, TABLE_OWNER, TABLE_NAME, and TABLE_TYPE

- Tables involved: System tables containing metadata information

In [ ]:
EXEC sys.sp_tables;

***

- Retrieve the collation setting for the database named 'TSQLV4'

- Utilize the DATABASEPROPERTYEX function with the 'Collation' property

- Tables involved: None (database metadata)

In [ ]:
SELECT DATABASEPROPERTYEX(N'TSQLV4', 'Collation');