# **Top 5**

## 1. **Query 1**

### This code extracts specific information from the "Sales.Order" table, including order ID, order date, customer ID, and employee ID. The WHERE clause filters the results to include only orders where the day of the month matches the last day of the same month. What makes this code special is its focus on extracting orders placed specifically on the last day of each month. It leverages functions like DAY and EOMONTH to ensure accuracy in pinpointing these particular orders. This query could be useful for analyzing end-of-month transactions or understanding patterns related to orders placed on the final day of each month within the dataset.

In [ ]:
USE TSQLV4;
SELECT orderid, orderdate, custid, empid
FROM Sales.Orders
WHERE DAY(orderdate) = DAY(EOMONTH(orderdate));

use Northwinds2022TSQLV7;
SELECT OrderId, OrderDate, CustomerId, EmployeeId
FROM Sales.[Order]
WHERE DAY(OrderDate) = DAY(EOMONTH(OrderDate));

## 2. **Query 2**

### This SQL code fetches customer IDs and regions from the "Sales.Customer" table and organizes the results in a particular sequence. The ORDER BY clause is used with a CASE statement to sort the rows based on whether the customer region is NULL or not. If the region is NULL, it assigns a value of 1; otherwise, it assigns 0. Consequently, rows with NULL regions appear first in the result set, followed by rows sorted by their actual region values. This code is noteworthy because it employs a custom sorting mechanism, prioritizing NULL regions, which can be beneficial for emphasizing or handling null values distinctively in the result set.

In [ ]:
USE TSQLV4;
SELECT custid,region
FROM Sales.Customers
ORDER BY
   CASE
       WHEN region IS NULL THEN 1
       ELSE 0
   END,
   region;

   use Northwinds2022TSQLV7;
   SELECT CustomerId,CustomerRegion
FROM Sales.Customer
ORDER BY
  CASE
      WHEN CustomerRegion IS NULL THEN 1
      ELSE 0
  END,
  CustomerRegion;

## 3. **Query 3**

### This SQL code retrieves unique employee IDs and the corresponding years in which orders were placed for customer ID 71 from the "Sales.Orders" table. It uses the DISTINCT keyword to ensure that each combination of employee ID and order year appears only once in the result set. The DISTINCT clause helps eliminate duplicate records. This code is notable because it focuses on a specific customer (custid = 71) and provides a distinct list of employee IDs along with the respective years they processed orders. It's special for its simplicity in obtaining unique combinations and showcasing the use of the DISTINCT keyword for result set clarity.

In [ ]:
USE TSQLV4;
SELECT DISTINCT empid, YEAR(orderdate) AS orderyear
FROM Sales.Orders
WHERE custid = 71;

## 4. **Query 4**

### This SQL code fetches employee IDs, first names, last names, and countries from the "HR.Employees" table, arranging the results based on the employees' hire dates. The ORDER BY clause with "hiredate" ensures that the output is sorted in ascending order by the date each employee was hired. This code is notable for its simplicity and effectiveness in presenting employee information in chronological order of hiring, making it easy to identify the sequence of employee additions to the organization. The use of ORDER BY with "hiredate" adds a temporal dimension to the query, providing insights into the historical hiring patterns within the company.

In [ ]:
USE TSQLV4;
SELECT empid, firstname, lastname, country
FROM HR.Employees
ORDER BY hiredate;

## 5. **Query 5**

### This SQL code retrieves employee IDs, first names, and last names from the "HR.Employees" table for individuals with the last name 'Davis.' The WHERE clause filters the results to include only those records where the last name matches 'Davis.' This code is particularly useful for identifying and extracting information specifically related to employees with the last name 'Davis' from the database. Its specificity allows for a focused retrieval of data, making it special for situations where detailed information about employees sharing a common last name is needed.

In [ ]:
USE TSQLV4;
SELECT empid, firstname, lastname
FROM HR.Employees
WHERE lastname = N'davis';

# **Chapter 02 - Exercises**

## **Question 1**

### It retrieves data related to orders, specifically the order ID, order date, customer ID, and employee ID. The WHERE clause is employed to filter the results, focusing on orders placed between June 1, 2015, and June 30, 2015. By using the conditions "OrderDate >= '2015-06-01' AND OrderDate < '2015-07-01'", the code ensures that only orders within this time frame are included in the query output, providing a targeted view of orders specifically placed during the month of June 2015.

In [ ]:
--Question 1

USE TSQLV4;
SELECT orderid, orderdate, custid, empid
FROM Sales.Orders
WHERE orderdate >= '2015-06-01' AND orderdate < '2015-07-01';

USE Northwinds2022TSQLV7;
SELECT OrderId, OrderDate, CustomerId, EmployeeId
FROM sales.[ORDER]
WHERE OrderDate >= '2015-06-01' AND OrderDate < '2015-07-01';

## **Question 2**

### This code is designed to retrieve specific information from the "Sales.Order" table. It selects details such as the order ID, order date, customer ID, and employee ID. The WHERE clause is used to filter the results based on a specific condition. In this case, it focuses on orders where the day of the month matches the last day of the month (EOMONTH stands for "End Of Month"). This means the code is extracting orders placed on the final day of each month. It's a useful query for pinpointing orders that were processed on the last day of any given month, providing insights into end-of-month transactions.

In [ ]:
--Question 2

USE TSQLV4;
SELECT orderid, orderdate, custid, empid
FROM Sales.Orders
WHERE DAY(orderdate) = DAY(EOMONTH(orderdate));

use Northwinds2022TSQLV7;
SELECT OrderId, OrderDate, CustomerId, EmployeeId
FROM Sales.[Order]
WHERE DAY(OrderDate) = DAY(EOMONTH(OrderDate));

## **Question 3**

### This code is designed to retrieve information from the "HumanResources.Employee" table. It selects details such as employee ID, first name, and last name. The WHERE clause includes a condition that filters the results to include only those employees whose last names have at least two occurrences of the letter 'e'. The LEN function calculates the length of the last name, and the expression "LEN(EmployeeLastName) - LEN(REPLACE(EmployeeLastName, 'e', ''))" calculates the difference in length between the last name and the last name with all 'e's removed. If this difference is greater than or equal to 2, the employee's information is included in the query results. This code is useful for finding employees with a specific pattern in their last names, specifically those with multiple occurrences of the letter 'e'.

In [ ]:
--Question 3

USE TSQLV4;
SELECT empid, firstname, lastname
FROM HR.Employees
WHERE LEN(lastname) - LEN(REPLACE(lastname, 'e', '')) >= 2

use Northwinds2022TSQLV7;
SELECT EmployeeId, EmployeeFirstName, EmployeeLastName
FROM HumanResources.[Employee]
WHERE LEN(EmployeeLastName) - LEN(REPLACE(EmployeeLastName, 'e', '')) >= 2

## **Question 4**
### This code extracts information from the "sales.OrderDetail" table. It selects the order ID and calculates the total value for each order by multiplying the quantity of items with their unit price and then summing up these values. The results are grouped by order ID using the GROUP BY clause. The HAVING clause is then applied to filter the results, including only those orders where the calculated total value is greater than $10,000. In simpler terms, this code is useful for identifying and summarizing orders that have a total value exceeding $10,000, providing a quick overview of high-value transactions in the database.

In [ ]:
--Question 4

USE TSQLV4;
SELECT orderid, SUM(qty * unitprice) AS totalvalue
FROM Sales.OrderDetails
GROUP BY orderid
HAVING SUM(qty * unitprice) > 10000
ORDER BY totalvalue DESC;

use Northwinds2022TSQLV7;
SELECT OrderId, SUM(Quantity * UnitPrice) AS totalvalue
FROM sales.[OrderDetail]
GROUP BY OrderId
HAVING SUM(Quantity * UnitPrice) > 10000

## **Question 5**
### This code is used to fetch information from the "HumanResources.Employee" table. It selects the employee ID and last name for employees whose last names start with a lowercase letter. The ASCII function is applied to the first letter (LEFT(EmployeeLastName, 1)) of each employee's last name, which returns the ASCII code for that letter. The condition "BETWEEN 97 AND 122" ensures that only letters 'a' to 'z' are included, which are the ASCII values for lowercase letters in the English alphabet. In simpler terms, this code helps identify and list employees whose last names begin with a lowercase letter, providing a targeted view of a specific group within the database.

In [ ]:
--Question 5

USE TSQLV4;
SELECT empid, lastname
FROM HR.Employees
WHERE ASCII(LEFT(lastname, 1)) BETWEEN 97 AND 122;

use Northwinds2022TSQLV7;
SELECT EmployeeId, EmployeeLastName
FROM HumanResources.[Employee]
WHERE ASCII(LEFT(EmployeeLastName, 1)) BETWEEN 97 AND 122;

## **Question 6**
### In Query 1, orders are counted for each employee with the condition that the order date is before May 1, 2016. This means it only considers orders placed prior to this specific date.

### In Query 2, orders are also counted for each employee, but the condition is applied using the HAVING clause. Here, the focus is on employees whose maximum order date (MAX(orderdate)) is before May 1, 2016. This implies that it considers the employee's overall order history and only includes those whose latest order occurred before the specified date.

In [ ]:
--Question 6
-- Query 1

USE TSQLV4;
SELECT empid, COUNT(*) AS numorders
FROM Sales.Orders
WHERE orderdate < '20160501'
GROUP BY empid;

-- Query 2
SELECT empid, COUNT(*) AS numorders
FROM Sales.Orders
GROUP BY empid
HAVING MAX(orderdate) < '20160501';

use Northwinds2022TSQLV7;
--Query 1
SELECT EmployeeId, COUNT(*) AS numorders
FROM sales.[Order]
WHERE orderdate < '20160501'
GROUP BY EmployeeId;


-- Query 2
SELECT EmployeeId, COUNT(*) AS numorders
FROM sales.[Order]
GROUP BY EmployeeId
HAVING MAX(orderdate) < '20160501';

## **Question 7**
### This code retrieves information from the "sales.ORDER" table, specifically focusing on the top 3 countries where orders were shipped in the year 2015. It calculates the average freight cost for each of these countries and names it as "avgfreight." The results are grouped by the destination country, and the TOP 3 keyword ensures that only the top three countries with the highest average freight costs are included. Finally, the ORDER BY clause arranges the countries in descending order based on their average freight costs, so the country with the highest average freight appears first in the output. In simpler terms, the code helps identify and display the top three countries with the highest average shipping costs for orders placed in the year 2015.

In [ ]:
--Question 7

USE TSQLV4;
SELECT TOP 3 shipcountry, AVG(freight) AS avgfreight
FROM Sales.Orders
WHERE YEAR(orderdate) = 2015
GROUP BY shipcountry
ORDER BY avgfreight DESC;

use Northwinds2022TSQLV7;
SELECT TOP 3 ShipToCountry, AVG(Freight) AS avgfreight
FROM sales.[ORDER]
WHERE YEAR(orderdate) = 2015
GROUP BY ShipToCountry
ORDER BY avgfreight DESC;

## **Question 8**
### This code retrieves information from the "sales.ORDER" table, specifically focusing on customer IDs, order dates, order IDs, and assigns a unique row number to each row. The ROW_NUMBER() function is used to generate this row number, and it is determined within each partition of data grouped by customer ID. The data is then sorted in ascending order first by customer ID, then by order date, and finally by order ID. This means that the output will display rows for each customer in chronological order based on when their orders were placed. The row numbers help identify the sequence of orders for each customer, providing a structured way to understand the order history for different customers.

In [ ]:
--Question 8

USE TSQLV4;
SELECT custid, orderdate, orderid,
   ROW_NUMBER() OVER (PARTITION BY custid ORDER BY orderdate, orderid) AS rownum
FROM Sales.Orders
ORDER BY custid, orderdate, orderid;

use Northwinds2022TSQLV7;
SELECT CustomerId, OrderDate, OrderId,
  ROW_NUMBER() OVER (PARTITION BY CustomerId ORDER BY OrderDate, OrderId) AS rownum
FROM sales.[ORDER]
ORDER BY CustomerId, OrderDate, OrderId;

## **Question 9**
### This code retrieves information from the "humanresources.EMPLOYEE" table, focusing on employee details such as ID, first name, last name, and title of courtesy. The CASE statement is used to create a new column called "gender," which categorizes employees based on their title of courtesy. If the title is 'Ms.' or 'Mrs.', the gender is labeled as 'Female.' If the title is 'Mr.,' the gender is labeled as 'Male.' If the title doesn't match any of these cases, it is labeled as 'Unknown.' In simpler terms, this code helps classify employees into gender categories based on their titles, providing a quick overview of the gender distribution within the employee data.

In [ ]:
--Question 9

USE TSQLV4;
SELECT empid, firstname, lastname, titleofcourtesy,
CASE
       WHEN titleofcourtesy IN ('Ms.', 'Mrs.') THEN 'Female'
       WHEN titleofcourtesy = 'Mr.' THEN 'Male'
       ELSE 'Unknown'
   END AS gender
FROM
   HR.Employees;

   USE Northwinds2022TSQLV7;
   SELECT EmployeeId, EmployeeFirstName, EmployeeLastName, EmployeeTitleofCourtesy,
CASE
      WHEN EmployeeTitleofCourtesy IN ('Ms.', 'Mrs.') THEN 'Female'
      WHEN EmployeeTitleOfCourtesy= 'Mr.' THEN 'Male'
      ELSE 'Unknown'
  END AS gender
FROM humanresources.[EMPLOYEE];

## **Question 10**
### This code fetches customer IDs and their respective regions from the "Sales.Customer" table and arranges the results in a specific order. The ORDER BY clause, along with the CASE statement, is used to sort the rows based on whether the customer region is NULL or not. If the region is NULL, it assigns a value of 1; otherwise, it assigns 0. This ensures that rows with NULL regions appear first in the result set. After that, the rows are sorted based on the actual region values. In simpler terms, this code is designed to display customers with NULL regions at the top of the list, making it easy to identify and handle records with missing or unspecified region information.

In [ ]:
--Question 10

USE TSQLV4;
SELECT custid,region
FROM Sales.Customers
ORDER BY
   CASE
       WHEN region IS NULL THEN 1
       ELSE 0
   END,
   region;

   use Northwinds2022TSQLV7;
   SELECT CustomerId,CustomerRegion
FROM Sales.Customer
ORDER BY
  CASE
      WHEN CustomerRegion IS NULL THEN 1
      ELSE 0
  END,
  CustomerRegion;

# **Chapter 02 - Queries**

- Calculate the number of orders placed by each employee for a specific customer (custid = 71)

- Group the results by employee ID and the year of order date

- Count only those cases where the number of orders in a given year is greater than 1

- Tables involved: Sales.Orders table

In [ ]:
USE TSQLV4;
SELECT empid, YEAR(orderdate) AS orderyear, COUNT(*) AS numorders
FROM Sales.Orders
WHERE custid = 71
GROUP BY empid, YEAR(orderdate)
HAVING COUNT(*) > 1
ORDER BY empid, orderyear;

- Retrieve the employee ID, order year, and total freight cost for orders placed by a specific customer (custid = 71)

- Group the results by employee ID and the year of order date

- Display the total freight cost for each employee in each year

- Tables involved: Sales.Orders table

In [ ]:
-- this code is commented in the chapter 02 queries too
/*USE TSQLV4;

SELECT empid, YEAR(orderdate) AS orderyear, freight
FROM Sales.Orders
WHERE custid = 71
GROUP BY empid, YEAR(orderdate);
*/

- Retrieve order IDs and corresponding order years from the 'Sales.Orders' table

- Filter the results to include only orders with a year greater than 2015

- Utilize the YEAR function for extracting the year from the order date

- This is a filtering operation based on the order year

- Tables involved: Sales.Orders table

In [ ]:
USE TSQLV4;
-- this code is commented in the chapter 02 queries too
/* SELECT orderid, YEAR(orderdate) AS orderyear 
FROM Sales.Orders
WHERE orderyear > 2015;
*/

- Retrieve distinct combinations of employee ID and the year of order date for orders placed by a specific customer (custid = 71)

- Display unique pairs of employee ID and order year

- Tables involved: Sales.Orders table

In [ ]:
USE TSQLV4;
SELECT DISTINCT empid, YEAR(orderdate) AS orderyear
FROM Sales.Orders
WHERE custid = 71;

- Retrieve employee details including employee ID, first name, last name, and country

- from the HR.Employees table

- Arrange the results in ascending order based on the hire date

- Tables involved: HR.Employees table

In [ ]:
USE TSQLV4;
SELECT empid, firstname, lastname, country
FROM HR.Employees
ORDER BY hiredate;

- Retrieve the top 5 orders with ties based on the order date in descending order

- Display order details including order ID (orderid), order date (orderdate), customer ID (custid), and employee ID (empid)

- Tables involved: Sales.Orders table

In [ ]:
USE TSQLV4;
SELECT TOP (5) WITH TIES orderid, orderdate, custid, empid
FROM Sales.Orders
ORDER BY orderdate DESC;

- Retrieve employee details including employee ID (empid), first name (firstname), and last name (lastname)

- From the HR.Employees table

- Filter the results to include only those employees whose last name starts with the letter 'D'

- Tables involved: HR.Employees table

In [ ]:
USE TSQLV4;
SELECT empid, firstname, lastname
FROM HR.Employees
WHERE lastname LIKE N'D%';

- Retrieve order details including order ID (orderid), customer ID (custid), employee ID (empid), and order date (orderdate)

- From the Sales.Orders table

- Include orders where either (custid is 1 and empid is 1, 3, or 5) or (custid is 85 and empid is 2, 4, or 6)

In [ ]:
USE TSQLV4;
SELECT orderid, custid, empid, orderdate
FROM Sales.Orders
WHERE
      ( custid = 1
        AND empid IN(1, 3, 5) )
    OR
      ( custid = 85
        AND empid IN(2, 4, 6) );

- Retrieve customer details including customer ID (custid), country (country), region (region), and city (city)

- From the Sales.Customers table

- Include only those customers located in the region with the code 'WA'

In [ ]:
USE TSQLV4;
SELECT custid, country, region, city
FROM Sales.Customers
WHERE region = N'WA';

- Retrieve order IDs, order years, and the year immediately following each order year
- Utilize the YEAR function for extracting the year from the order date
- Perform arithmetic to calculate the next year based on the extracted order year
- This is a projection operation on the order year with an arithmetic calculation
- Tables involved: Sales.Orders table

In [ ]:
-- this code is commented in the chapter 02 queries too
/* USE TSQLV4;
SELECT 
  orderid, 
  YEAR(orderdate) AS orderyear, 
  orderyear + 1 AS nextyear
FROM Sales.Orders;
*/

- Retrieve employee details including employee ID (empid), first name (firstname), and last name (lastname)

- From the HR.Employees table

- Include only those employees whose last name is 'Davis' (case-sensitive)

In [ ]:
USE TSQLV4;
SELECT empid, firstname, lastname
FROM HR.Employees
WHERE lastname = N'davis';

- Retrieve customer details including customer ID (custid), country (country), region (region), and city (city)

- Create a new column location by concatenating the country, region, and city with commas in between

- From the Sales.Customers table

In [ ]:
USE TSQLV4;
SELECT custid, country, region, city,
  CONCAT(country, N',' + region, N',' + city) AS location
FROM Sales.Customers;

- Find the position of the first space character in the string 'Itzik Ben-Gan'

- Utilize the CHARINDEX function to perform the search

- This is a character manipulation operation

- No tables are involved in this query

In [ ]:
USE TSQLV4;
SELECT CHARINDEX(' ','Itzik Ben-Gan'); -- 6

- Retrieve supplier details including supplier ID (supplierid)

- Create a new column strsupplierid by padding the supplier ID with leading zeros to make it a 10-character string

- From the Production.Suppliers table

In [ ]:
USE TSQLV4;
SELECT supplierid,
  RIGHT(REPLICATE('0', 9) + CAST(supplierid AS VARCHAR(10)),
        10) AS strsupplierid
FROM Production.Suppliers;

- Format the integer value 1759 as a 10-digit string with leading zeros

- Utilize the FORMAT function for formatting

- This is a formatting operation for numeric data

- No tables are involved in this query

In [ ]:
USE TSQLV4;
SELECT FORMAT(1759, '0000000000'); -- '0000001759'

- Retrieve employee IDs and decompressed CVs from the 'dbo.EmployeeCVs' table
- Utilize the DECOMPRESS function for decompressing compressed data
- Cast the decompressed data to NVARCHAR(MAX) for proper display
- This is a decompression operation on compressed data
- Tables involved: dbo.EmployeeCVs table

In [ ]:
-- this code is commented in the chapter 02 queries too
/*SELECT empid, CAST(DECOMPRESS(cv) AS NVARCHAR(MAX)) AS cv
FROM dbo.EmployeeCVs;
*/

- Retrieve employee details including employee ID (empid) and last name (lastname)

- From the HR.Employees table

- Include only those employees whose last names start with a letter between 'A' and 'E' (inclusive)

In [ ]:
USE TSQLV4;
SELECT empid, lastname
FROM HR.Employees
WHERE lastname LIKE N'[A-E]%';

- Set the language for the session to US English and then cast a string to a date

- Utilize the SET LANGUAGE statement to set the language

- Use the CAST function to convert the string '02/12/2016' to a date

- This is a language-specific date conversion operation

- No tables are involved in this query

In [ ]:
USE TSQLV4;
SET LANGUAGE us_english;
SELECT CAST('02/12/2016' AS DATE);

- Parse a string representing a date using the 'en-US' culture

- Utilize the PARSE function to perform the date parsing

- This is a culture-specific date conversion operation

- No tables are involved in this query

In [ ]:
USE TSQLV4;
SELECT PARSE('02/12/2016' AS DATE USING 'en-US');

- Add a CHECK constraint to ensure that the 'orderdate' column in the 'Sales.Orders2' table has a time component set to midnight
- Utilize the CONVERT function for formatting the time component
- This is a data integrity enforcement operation
- Tables involved: Sales.Orders2 table

In [ ]:
/*USE TSQLV4;
--no access to the Sales.Orders2
ALTER TABLE Sales.Orders2
  ADD CONSTRAINT CHK_Orders2_orderdate
  CHECK( CONVERT(CHAR(12), orderdate, 114) = '00:00:00:000' );
  */

- Retrieve order details including order ID (orderid), customer ID (custid), employee ID (empid), and order date (orderdate)

- From the Sales.Orders table

- Include only those orders where the order date is on or after January 1, 2015, and before January 1, 2016

In [ ]:
USE TSQLV4;
SELECT orderid, custid, empid, orderdate
FROM Sales.Orders
WHERE orderdate >= '20150101' AND orderdate < '20160101';

- Cast a string representing a date in 'YYYYMMDD' format to a date

- Utilize the CAST function for date conversion

- This is a format-specific date conversion operation

- No tables are involved in this query

In [ ]:
USE TSQLV4;
SELECT CAST('20160212' AS DATE);

- Convert the current timestamp to a character string with a specific time style

- Utilize the CONVERT function for date and time formatting

- This is a timestamp formatting operation

- No tables are involved in this query

In [ ]:
USE TSQLV4;
SELECT CONVERT(CHAR(12), CURRENT_TIMESTAMP, 114);

- Switch the time zone offset of the current system date and time to UTC

- Utilize the SWITCHOFFSET function for adjusting time zone offset

- This is a time zone conversion operation

- No tables are involved in this query

In [ ]:
USE TSQLV4;
SELECT SWITCHOFFSET(SYSDATETIMEOFFSET(), '+00:00');

- Add 1 year to a specified date represented as a string

- Utilize the DATEADD function for date manipulation

- This is a date addition operation

- No tables are involved in this query

In [ ]:
USE TSQLV4;
SELECT DATEADD(year, 1, '20160212');

- Calculate the current year for each date in the specified format ('18991231')

- by determining the difference in years between the current date and the reference date

- Tables involved: None (This is a scalar operation using system date functions)

In [ ]:
USE TSQLV4;
SELECT
  DATEADD(
    year, 
    DATEDIFF(year, '18991231', SYSDATETIME()), '18991231');

- Check if a given string can be interpreted as a valid date

- The string '20160212' is evaluated for its date validity

- This is a scalar operation and does not involve tables

In [ ]:
-- ISDATE
USE TSQLV4;
SELECT ISDATE('20160212');

- Retrieve information about tables in the database, including schema names and table names

- Utilize the sys.tables system view

- Use SCHEMA_NAME function to convert schema_id to schema name

- Tables involved: sys.tables system view

In [ ]:
-- Catalog Views
USE TSQLV4;
SELECT SCHEMA_NAME(schema_id) AS table_schema_name, name AS table_name
FROM sys.tables;

- Retrieve detailed information about the structure of the 'Sales.Orders' table

- Utilize the sys.sp_help stored procedure

- Specify the table name 'Sales.Orders' as the parameter for @objname

- This is a descriptive operation aiming to understand the table's characteristics

- Tables involved: Sales.Orders table (indirectly through sys.sp_help)

In [ ]:
USE TSQLV4;
EXEC sys.sp_help
  @objname = N'Sales.Orders';

- Check if the 'Sales.Orders' table has a primary key

- Utilize the OBJECTPROPERTY function with 'TableHasPrimaryKey' property

- This is a metadata query to understand the key structure of the table

- Tables involved: Sales.Orders table (indirectly through OBJECTPROPERTY)

In [ ]:
USE TSQLV4;
SELECT 
  OBJECTPROPERTY(OBJECT_ID(N'Sales.Orders'), 'TableHasPrimaryKey');