# <u>**My Top 5 Queries**</u>

## **Query 5**Â 
<img src="https://static.vecteezy.com/system/resources/previews/022/841/114/non_2x/chatgpt-logo-transparent-background-free-png.png" alt="AI" width="20" height="20"> _Written in collaboration with ChatGPT from OpenAI to improve understanding and assist with the explanation of the query_

- Proposition: Retrieves a list of customers and their associated company names who do not have any corresponding orders in the Sales.Order table.
    
- Table: The query uses the Sales.Customer table and Sales.Order table.
    
- Columns: The columns selected are c.CustomerId and c.CustomerCompanyName.
    
- Predicate: The query employs a LEFT JOIN between the Sales.Customer table (as c) and the Sales.Order table (as o) using the condition c.CustomerId = o.CustomerId. This ensures that all rows from the Sales.Customer table are included in the result set, regardless of whether there is a matching entry in the Sales.Order table. The WHERE clause filters the result set to only include rows where the o.orderid IS NULL, indicating that no corresponding order exists for the customer.
    
- This SQL code is special as it efficiently reveals inactive customers, offering valuable insights for businesses aiming to understand and engage with customers who may not have participated in any transactions. It provides a clear overview of customer engagement, aiding businesses in targeting specific customer segments for outreach or analysis.

In [ ]:
use TSQLV4;
SELECT c.custid, c.companyname
FROM Sales.Customers c
LEFT JOIN Orders o ON c.custid = o.custid
WHERE o.orderid IS NULL;

USE Northwinds2022TSQLV7;
SELECT c.CustomerId, c.CustomerCompanyName
FROM Sales.Customer c
LEFT JOIN Sales.[Order] o ON c.CustomerId = o.CustomerId
WHERE o.OrderId IS NULL;

## **Query 9**
<img src="https://static.vecteezy.com/system/resources/previews/022/841/114/non_2x/chatgpt-logo-transparent-background-free-png.png" alt="AI" width="20" height="20"> _Written in collaboration with ChatGPT from OpenAI to improve understanding and assist with the explanation of the query_
- Proposition: Generates a list of customers along with their identification, company name, and a computed column indicating whether each customer has placed an order on a specific date.
- Table: The query utilizes the Sales.Customer table.
- Columns: The columns selected include CustomerId, CustomerCompanyName, and a computed column named HasOrderOn20160212.
- Predicate: The query uses a CASE WHEN statement within the SELECT clause to determine if each customer has placed an order on the specified date ('2016-02-12'). The existence of such an order is checked by correlating the Sales.Customer table with the Sales.[Order] table using the CustomerId column.

- This SQL code is special as it provides a clear and concise way to ascertain customer activity on a specific date. It's useful for businesses aiming to understand customer engagement patterns, allowing them to tailor strategies based on customer behavior. This kind of dynamic information helps businesses adapt and optimize their approaches for better customer interaction and satisfaction.

In [ ]:
use TSQLV4;
SELECT c.custid, c.companyname,
       CASE WHEN EXISTS (
           SELECT 1 
           FROM Orders o 
           WHERE c.custid = o.custid 
             AND CONVERT(DATE, o.orderdate) = '2016-02-12'
       ) THEN 'Yes' ELSE 'No' END AS HasOrderOn20160212
FROM Sales.Customers c;

USE Northwinds2022TSQLV7;
SELECT c.CustomerId, c.CustomerCompanyName,
       CASE WHEN EXISTS (
           SELECT 1 
           FROM Sales.[Order] o 
           WHERE c.CustomerId = o.CustomerId 
             AND CONVERT(DATE, o.OrderDate) = '2016-02-12'
       ) THEN 'Yes' ELSE 'No' END AS HasOrderOn20160212
FROM Sales.Customer c;

## **Query Joins**
<img src="https://static.vecteezy.com/system/resources/previews/022/841/114/non_2x/chatgpt-logo-transparent-background-free-png.png" alt="AI" width="20" height="20"> _Written in collaboration with ChatGPT from OpenAI to improve understanding and assist with the explanation of the query_
- Proposition: Returns a list of consecutive numbers from 1 to 1000 by combining three instances of the dbo.Digits table.
- Tables: This query uses the table dbo.Digits.
- Columns: D1.digit, D2.digit, D3.digit  is selected, each representing a digit place (ones, tens, hundreds) in the resulting number, and they aliase as the n column. 
- Predicate: The CROSS JOIN clause is used in this query to generate every possible combination of digits from the dbo.Digits table for each digit place, resulting in a Cartesian product. The expression (D3.digit * 100 + D2.digit * 10 + D1.digit + 1) calculates the numeric value of each combination, ensuring that numbers range from 1 to 1000. The ORDER BY clause arranges the numbers in ascending order.
- This SQL code generates a sequence of three-digit numbers starting from 1 by combining digits from the "dbo.Digits" table using CROSS JOIN. The calculated values are ordered in ascending order, providing a concise way to generate and organize such numerical sequences for analytical or testing needs.

In [ ]:
USE TSQLV4; 

SELECT D3.digit * 100 + D2.digit * 10 + D1.digit + 1 AS n
FROM         dbo.Digits AS D1
  CROSS JOIN dbo.Digits AS D2
  CROSS JOIN dbo.Digits AS D3
ORDER BY n;

USE Northwinds2022TSQLV7;
SELECT D3.digit * 100 + D2.digit * 10 + D1.digit + 1 AS n
FROM         dbo.Digits AS D1
  CROSS JOIN dbo.Digits AS D2
  CROSS JOIN dbo.Digits AS D3
ORDER BY n;

## **Query Joins**
<img src="https://static.vecteezy.com/system/resources/previews/022/841/114/non_2x/chatgpt-logo-transparent-background-free-png.png" alt="AI" width="20" height="20"> _Written in collaboration with ChatGPT from OpenAI to improve understanding and assist with the explanation of the query_
- Proposition: Generates a refined list of distinct pairs of employees by utilizing an INNER JOIN clause based on a specific condition.
- Table: The query utilizes the HumanResources.Employee table.
- Columns: The selected columns include EmployeeId, EmployeeFirstName, and EmployeeLastName from both instances (E1 and E2) of the HumanResources.Employee table.
- Predicate: The query employs an INNER JOIN clause to combine rows from the HumanResources.Employee table (E1 and E2) based on a specific condition (E1.EmployeeId < E2.EmployeeId). This condition ensures that each pair is unique, avoiding duplicate combinations. The result is a filtered set of employee pairs where the EmployeeId of the first employee (E1) is less than the EmployeeId of the second employee (E2).
- This SQL code is special as it efficiently generates distinct pairs of employees, avoiding duplicates and redundancy. It's particularly useful for scenarios where comparing or analyzing relationships between pairs of items is essential, offering a streamlined and unique view of employee combinations. The condition in the ON clause ensures that each pair is unique, making it a valuable tool for various analytical and comparison tasks.

In [ ]:
use TSQLV4;
-- Unique pairs of employees
SELECT
  E1.empid, E1.firstname, E1.lastname,
  E2.empid, E2.firstname, E2.lastname
FROM HR.Employees AS E1
  INNER JOIN HR.Employees AS E2
    ON E1.empid < E2.empid;

USE Northwinds2022TSQLV7;
SELECT
  E1.EmployeeId, E1.EmployeeFirstName, E1.EmployeeLastName,
  E2.EmployeeId, E2.EmployeeFirstName, E2.EmployeeLastName
FROM HumanResources.Employee AS E1
  INNER JOIN HumanResources.Employee AS E2
    ON E1.EmployeeId < E2.EmployeeId;

## **Query Joins**
<img src="https://static.vecteezy.com/system/resources/previews/022/841/114/non_2x/chatgpt-logo-transparent-background-free-png.png" alt="AI" width="20" height="20"> _Written in collaboration with ChatGPT from OpenAI to improve understanding and assist with the explanation of the query_
- Proposition: Generates a comprehensive list of customer-order combinations along with associated order details, utilizing a LEFT OUTER JOIN to include customers even if they haven't placed any orders.
- Table: The query involves the Sales.Customer, Sales.[Order], and Sales.OrderDetail tables.
- Columns: The selected columns include CustomerId from the Sales.Customer table, OrderId from the Sales.[Order] table, and ProductId along with Quantity from the Sales.OrderDetail table.
- Predicate: The query utilizes a LEFT OUTER JOIN structure to connect the Sales.Customer table (as C) with a combination of the Sales.[Order] table (as O) and the Sales.OrderDetail table (as OD). The JOIN condition is specified as C.CustomerId = O.CustomerId, ensuring that all customers are included in the result, even if they haven't placed any orders. This structure allows for the retrieval of information about customers and their associated orders and order details.
- This SQL code is special as it forms a comprehensive view of customer transactions, connecting customers to their orders and the specific products they purchased. The combination of LEFT OUTER JOIN and INNER JOIN ensures that all customers are included, even if they haven't placed any orders, while also linking orders with their corresponding details. It's a powerful tool for businesses seeking to understand the complete picture of customer interactions and purchase history, aiding in tailored customer service and targeted marketing strategies.

In [ ]:
use TSQLV4;
SELECT C.custid, O.orderid, OD.productid, OD.qty
FROM Sales.Customers AS C
  LEFT OUTER JOIN
      (Sales.Orders AS O
         INNER JOIN Sales.OrderDetails AS OD
           ON O.orderid = OD.orderid)
    ON C.custid = O.custid;

USE Northwinds2022TSQLV7;
SELECT C.CustomerId, O.OrderId, OD.ProductId, OD.Quantity
FROM Sales.Customer AS C
  LEFT OUTER JOIN
      (Sales.[Order] AS O
         INNER JOIN Sales.OrderDetail AS OD
           ON O.OrderId = OD.OrderId)
    ON C.CustomerId = O.CustomerId;

# <u>**Chapter 03 - Joins**</u>

<img src="https://static.vecteezy.com/system/resources/previews/022/841/114/non_2x/chatgpt-logo-transparent-background-free-png.png" alt="AI" width="20" height="20"> _Written in collaboration with ChatGPT from OpenAI to improve understanding and assist with the explanation of the query_
- Proposition: Returns a list of consecutive numbers from 1 to 1000 by combining three instances of the dbo.Digits table.
- Tables: This query uses the table dbo.Digits.
- Columns: D1.digit, D2.digit, D3.digit  is selected, each representing a digit place (ones, tens, hundreds) in the resulting number, and they aliase as the n column. 
- Predicate: The CROSS JOIN clause is used in this query to generate every possible combination of digits from the dbo.Digits table for each digit place, resulting in a Cartesian product. The expression (D3.digit * 100 + D2.digit * 10 + D1.digit + 1) calculates the numeric value of each combination, ensuring that numbers range from 1 to 1000. The ORDER BY clause arranges the numbers in ascending order.

In [ ]:
USE TSQLV4; 

SELECT D3.digit * 100 + D2.digit * 10 + D1.digit + 1 AS n
FROM         dbo.Digits AS D1
  CROSS JOIN dbo.Digits AS D2
  CROSS JOIN dbo.Digits AS D3
ORDER BY n;

USE Northwinds2022TSQLV7;
SELECT D3.digit * 100 + D2.digit * 10 + D1.digit + 1 AS n
FROM         dbo.Digits AS D1
  CROSS JOIN dbo.Digits AS D2
  CROSS JOIN dbo.Digits AS D3
ORDER BY n;

<img src="https://static.vecteezy.com/system/resources/previews/022/841/114/non_2x/chatgpt-logo-transparent-background-free-png.png" alt="AI" width="20" height="20"> _Written in collaboration with ChatGPT from OpenAI to improve understanding and assist with the explanation of the query_
- Proposition: Constructs and populates a table named dbo.Digits containing the digits from 0 to 9, providing a foundation for various numeric operations.
- Table: The query involves the creation and manipulation of the dbo.Digits table.
- Columns: The dbo.Digits table comprises a single column named digit, representing the numeric digits from 0 to 9.
- Predicate: The query utilizes a series of SQL statements to create, populate, and retrieve data from the dbo.Digits table. It employs the DROP TABLE IF EXISTS statement to ensure the table's absence before creation, then uses the CREATE TABLE statement to define the structure of the table with a primary key constraint on the digit column. Subsequently, the INSERT INTO statement populates the table with values ranging from 0 to 9. Finally, a SELECT statement retrieves the digit values from the dbo.Digits table.

In [ ]:
use TSQLV4;
DROP TABLE IF EXISTS dbo.Digits;

CREATE TABLE dbo.Digits(digit INT NOT NULL PRIMARY KEY);

INSERT INTO dbo.Digits(digit)
  VALUES (0),(1),(2),(3),(4),(5),(6),(7),(8),(9);

SELECT digit FROM dbo.Digits;
GO

USE Northwinds2022TSQLV7;
DROP TABLE IF EXISTS dbo.Digits;

CREATE TABLE dbo.Digits(digit INT NOT NULL PRIMARY KEY);

INSERT INTO dbo.Digits(digit)
  VALUES (0),(1),(2),(3),(4),(5),(6),(7),(8),(9);

SELECT digit FROM dbo.Digits;
GO

<img src="https://static.vecteezy.com/system/resources/previews/022/841/114/non_2x/chatgpt-logo-transparent-background-free-png.png" alt="AI" width="20" height="20"> _Written in collaboration with ChatGPT from OpenAI to improve understanding and assist with the explanation of the query_
- Proposition: Retrieves a list of employee details along with associated order information by utilizing an INNER JOIN between the HumanResources.Employee table and the Sales.[Order] table.
- Table: The query involves the HumanResources.Employee and Sales.[Order] tables.
- Columns: The selected columns include EmployeeId, EmployeeFirstName, and EmployeeLastName from the HumanResources.Employee table, along with OrderId from the Sales.[Order] table.
- Predicate: The query employs an INNER JOIN clause to combine rows from the HumanResources.Employee table (as E) with the Sales.[Order] table (as O). This connection is established without specifying a specific join condition, resulting in a Cartesian product between the two tables. This means that every row from the HumanResources.Employee table is paired with every row from the Sales.[Order] table, creating all possible combinations of employee and order pairs.

In [ ]:
--Code is in comment in Chapter -03 Joins
--use TSQLV4;
-- Inner Join Safety
/*
SELECT E.empid, E.firstname, E.lastname, O.orderid
FROM HR.Employees AS E
  INNER JOIN Sales.Orders AS O;
GO
*/
/*USE Northwinds2022TSQLV7;
SELECT E.EmployeeId, E.EmployeeFirstName, E.EmployeeLastName, O.OrderId
FROM HumanResources.Employee AS E
  INNER JOIN Sales.[Order] AS O;
GO
*/

<img src="https://static.vecteezy.com/system/resources/previews/022/841/114/non_2x/chatgpt-logo-transparent-background-free-png.png" alt="AI" width="20" height="20"> _Written in collaboration with ChatGPT from OpenAI to improve understanding and assist with the explanation of the query_
- Proposition: Generates a refined list of distinct pairs of employees by utilizing an INNER JOIN clause with a specific condition.
- Table: The query involves the HumanResources.Employee table.
- Columns: The selected columns include EmployeeId, EmployeeFirstName, and EmployeeLastName from both instances (E1 and E2) of the HumanResources.Employee table.
- Predicate: The query employs an INNER JOIN clause to combine rows from the HumanResources.Employee table (E1 and E2) based on a specific condition (E1.EmployeeId < E2.EmployeeId). This condition ensures that each pair is unique, avoiding duplicate combinations. The result is a filtered set of employee pairs where the EmployeeId of the first employee (E1) is less than the EmployeeId of the second employee (E2).

In [ ]:
use TSQLV4;
-- Unique pairs of employees
SELECT
  E1.empid, E1.firstname, E1.lastname,
  E2.empid, E2.firstname, E2.lastname
FROM HR.Employees AS E1
  INNER JOIN HR.Employees AS E2
    ON E1.empid < E2.empid;

USE Northwinds2022TSQLV7;
SELECT
  E1.EmployeeId, E1.EmployeeFirstName, E1.EmployeeLastName,
  E2.EmployeeId, E2.EmployeeFirstName, E2.EmployeeLastName
FROM HumanResources.Employee AS E1
  INNER JOIN HumanResources.Employee AS E2
    ON E1.EmployeeId < E2.EmployeeId;

<img src="https://static.vecteezy.com/system/resources/previews/022/841/114/non_2x/chatgpt-logo-transparent-background-free-png.png" alt="AI" width="20" height="20"> _Written in collaboration with ChatGPT from OpenAI to improve understanding and assist with the explanation of the query_
- Proposition: Generates a chronological list of order details, including order date, order ID, customer ID, and employee ID, by utilizing a LEFT OUTER JOIN with a date range specified through the dbo.Nums table.
- Table: The query involves the Sales.[Order] and dbo.Nums tables.
- Columns: The selected columns include a dynamically calculated order date using DATEADD and Nums.n, along with OrderId, CustomerId, and EmployeeId from the Sales.[Order] table.
- Predicate: The query utilizes a LEFT OUTER JOIN with the dbo.Nums table, linking rows based on the calculated order date. The date range is determined by the difference between '20140101' and '20161231,' and the WHERE clause filters the results to include only relevant dates within this range. The query orders the results by the calculated order date.

In [ ]:
use TSQLV4;
SELECT DATEADD(day, Nums.n - 1, CAST('20140101' AS DATE)) AS orderdate,
  O.orderid, O.custid, O.empid
FROM dbo.Nums
  LEFT OUTER JOIN Sales.Orders AS O
    ON DATEADD(day, Nums.n - 1, CAST('20140101' AS DATE)) = O.orderdate
WHERE Nums.n <= DATEDIFF(day, '20140101', '20161231') + 1
ORDER BY orderdate;

USE Northwinds2022TSQLV7;
SELECT DATEADD(day, Nums.n - 1, CAST('20140101' AS DATE)) AS OrderDate,
  O.OrderId, O.CustomerId, O.EmployeeId
FROM dbo.Nums
  LEFT OUTER JOIN Sales.[Order] AS O
    ON DATEADD(day, Nums.n - 1, CAST('20140101' AS DATE)) = O.OrderDate
WHERE Nums.n <= DATEDIFF(day, '20140101', '20161231') + 1
ORDER BY OrderDate;

<img src="https://static.vecteezy.com/system/resources/previews/022/841/114/non_2x/chatgpt-logo-transparent-background-free-png.png" alt="AI" width="20" height="20"> _Written in collaboration with ChatGPT from OpenAI to improve understanding and assist with the explanation of the query_
- Proposition: Constructs a comprehensive list of customer details along with associated order and order detail information by utilizing a LEFT OUTER JOIN between the Sales.Customer, Sales.[Order], and Sales.OrderDetail tables.
- Table: The query involves the Sales.Customer, Sales.[Order], and Sales.OrderDetail tables.
- Columns: The selected columns include CustomerId from the Sales.Customer table, OrderId from the Sales.[Order] table, and ProductId along with Quantity from the Sales.OrderDetail table.
- Predicate: The query employs a LEFT OUTER JOIN structure, linking the Sales.Customer table (as C) with a combination of the Sales.[Order] table (as O) and the Sales.OrderDetail table (as OD). The join conditions are specified as C.CustomerId = O.CustomerId and O.orderid = OD.orderid. This structure ensures that all customers are included in the result, even if they haven't placed any orders. The SELECT statement retrieves relevant details, creating a comprehensive output of customer, order, and order detail combinations.

In [ ]:
use TSQLV4;
SELECT C.custid, O.orderid, OD.productid, OD.qty
FROM Sales.Customers AS C
  LEFT OUTER JOIN
      (Sales.Orders AS O
         INNER JOIN Sales.OrderDetails AS OD
           ON O.orderid = OD.orderid)
    ON C.custid = O.custid;

USE Northwinds2022TSQLV7;
SELECT C.CustomerId, O.OrderId, OD.ProductId, OD.Quantity
FROM Sales.Customer AS C
  LEFT OUTER JOIN
      (Sales.[Order] AS O
         INNER JOIN Sales.OrderDetail AS OD
           ON O.OrderId = OD.OrderId)
    ON C.CustomerId = O.CustomerId;