# <u>**My Top 5 Queries**</u>

## **Chapter 4 Query 6**
<img src="https://static.vecteezy.com/system/resources/previews/022/841/114/non_2x/chatgpt-logo-transparent-background-free-png.png" alt="AI" width="20" height="20"> _Written in collaboration with ChatGPT from OpenAI to improve understanding and assist with the explanation of the query_
- Proposition: Retrieves distinct customers who placed orders in 2021 but not in 2022, leveraging the Sales.Customer and Sales.[Order] tables.
- Tables: The query interacts with the Sales.Customer and Sales.[Order] tables.
- Columns: The selected columns include CustomerId and CustomerCompanyName from the Sales.Customer table.
- Predicate: The query employs JOIN operations on the Sales.Customer and Sales.[Order] tables, filtering orders based on the order year. It uses a subquery to identify customers who placed orders in 2022, ensuring that only those who did not place orders in that year are included.
- The SQL query efficiently identifies distinct customers who made purchases in 2021 but not in 2022 by utilizing JOIN operations between Sales.Customer and Sales.[Order] tables, connecting them based on CustomerId. With a concise WHERE clause filtering orders from 2021 and a subquery excluding customers with 2022 orders using NOT IN, the query provides a succinct and readable solution to this common scenario.

In [ ]:
USE TSQLV6;
SELECT DISTINCT
    C.custid AS custid,
    C.CompanyName
FROM
    Sales.Customers AS C
JOIN
    Sales.Orders AS O1 ON C.custid = O1.custid
WHERE
    YEAR(O1.OrderDate) = 2021
    AND C.custid NOT IN (
        SELECT
            C2.custid
        FROM
            Sales.Customers AS C2
        JOIN
            Sales.Orders AS O2 ON C2.custid = O2.custid
        WHERE
            YEAR(O2.OrderDate) = 2022
    );
--no result here because there are no customers 
-- who placed orders in 2021 and did not place any orders in 2022 in NorthWinds2022TSQLV7 database
USE Northwinds2022TSQLV7;
SELECT DISTINCT
    C.CustomerId AS custid,
    C.CustomerCompanyName
FROM
    Sales.Customer AS C
JOIN
    Sales.[Order] AS O1 ON C.CustomerId = O1.CustomerId
WHERE
    YEAR(O1.OrderDate) = 2021
    AND C.CustomerId NOT IN (
        SELECT
            C2.CustomerId
        FROM
            Sales.Customer AS C2
        JOIN
            Sales.[Order] AS O2 ON C2.CustomerId = O2.CustomerId
        WHERE
            YEAR(O2.OrderDate) = 2022
    );

## **Chapter 4 Query 10**
- Proposition: Retrieves a list of all customers' orders, providing the OrderId, OrderDate, and the difference in days between each order and the customer's previous order.
- Tables: The query interacts with the Sales.[Order] table.
- Columns: The SELECT clause includes CustomerId, OrderDate, OrderID, and the calculated difference in days (diff).
- Predicate: The query employs the LAG function within a Common Table Expression (CTE) named OrderedOrders. This function is used to retrieve the previous order date for each customer, partitioned by CustomerId and ordered by OrderDate and OrderID. The main SELECT statement then calculates the difference in days between the current order and the previous order for each customer.
- This SQL code is special because it efficiently calculates the time difference in days between each customer's consecutive orders using the LAG window function, providing a concise analysis of order recency in the Sales.[Order] table.

In [ ]:
USE TSQLV6; 

WITH OrderedOrders AS (
    SELECT 
        custid,
        OrderID,
        OrderDate,
        LAG(OrderDate) OVER (PARTITION BY custid ORDER BY OrderDate, OrderID) AS PrevOrderDate
    FROM 
        Sales.Orders
)

SELECT 
    custid AS custid,
    OrderDate,
    OrderID,
    DATEDIFF(day, PrevOrderDate, OrderDate) AS diff
FROM 
    OrderedOrders
ORDER BY 
    custid, OrderDate;

USE Northwinds2022TSQLV7;
WITH OrderedOrders AS (
    SELECT 
        CustomerId,
        OrderId,
        OrderDate,
        LAG(OrderDate) OVER (PARTITION BY CustomerId ORDER BY OrderDate, OrderID) AS PrevOrderDate
    FROM 
        Sales.[Order]
)

SELECT 
    CustomerId AS CustomerId,
    OrderDate,
    OrderID,
    DATEDIFF(day, PrevOrderDate, OrderDate) AS diff
FROM 
    OrderedOrders
ORDER BY 
    CustomerId, OrderDate;

## **Query**

- Proposition: Retrieves the order IDs associated with employees whose last names start with the letter 'D' from the HumanResources.Employee and Sales.Order tables.
- Tables: The query interacts with both the HumanResources.Employee and Sales.Order tables.
- Columns: The selected column is O.orderid.
- Predicate: The query employs an INNER JOIN clause to link the HumanResources.Employee table (aliased as E) with the Sales.Order table (aliased as O) based on the common EmployeeId column. The WHERE clause further filters the results to include only those rows where the employee's last name starts with 'D'.
- This SQL code is special because it retrieves order IDs from the Sales.[Order] table where the associated employees' last names start with 'D'. It showcases the concise use of an INNER JOIN and a WHERE clause for targeted data extraction.

In [ ]:
USE TSQLV6;
SELECT O.orderid
FROM HR.Employees AS E
  INNER JOIN Sales.Orders AS O
    ON E.empid = O.empid
WHERE E.lastname LIKE N'D%';

USE Northwinds2022TSQLV7;
SELECT O.orderid
FROM HumanResources.Employee AS E
  INNER JOIN Sales.[Order] AS O
    ON E.EmployeeId = O.EmployeeId
WHERE E.EmployeeLastName LIKE N'D%';

## **Query**

- Proposition: Retrieves a list of all customers with their corresponding CustomerId, CustomerCompanyName, and CustomerRegion information from the Sales.USACusts View then extracts data from Sales.Customer table.
- Tables/Views: The query interacts with the Sales.USACusts view. This view extracts data from the Sales.Customer table
- Columns: The selected columns include CustomerId, CustomerCompanyName, and CustomerRegion.
- Predicate: The query does not apply any specific predicate or filtering condition to restrict the results, thus fetching all records from the Sales.Customer table.
- This code is special because it retrieves customer information from the "Sales.USACusts" view, which filters customers based on the 'USA' condition. This streamlined query simplifies access to data for USA-based customers, enhancing code readability and reusability.

In [ ]:
-- Query USACusts
USE TSQLV6;
SELECT custid, companyname, region
FROM Sales.USACusts;
GO

USE Northwinds2022TSQLV7;
SELECT CustomerId, CustomerCompanyName, CustomerRegion
FROM Sales.USACusts;
GO

## **Query**

- Proposition: Retrieves all possible combinations of pairs between shippers and employees, utilizing a CROSS JOIN clause to generate a Cartesian product between the Sales.Shipper and HumanResources.Employee tables.
- Tables: The query interacts with the Sales.Shipper and HumanResources.Employee tables.
- Columns: The selected columns include ShipperId from the Sales.Shipper table and EmployeeId from the HumanResources.Employee table.
- Predicate: The query employs a CROSS JOIN clause to combine every row from the Sales.Shipper table (as S) with every row from the HumanResources.Employee table (as E), resulting in all possible combinations of shippers and employees.
- This SQL code is notable for employing a CROSS JOIN between the Sales.Shipper and HumanResources.Employee tables, resulting in a Cartesian product of all possible combinations of shippers and employees. This type of join generates a set where each row from the first table is combined with every row from the second table, producing a comprehensive list of pairings. The query provides a concise way to explore all potential combinations between shippers and employees in the specified tables.

In [ ]:
-- APPLY
USE TSQLV6;
SELECT S.shipperid, E.empid
FROM Sales.Shippers AS S
  CROSS JOIN HR.Employees AS E;

USE Northwinds2022TSQLV7;
SELECT S.ShipperId, E.EmployeeId
FROM Sales.Shipper AS S
  CROSS JOIN HumanResources.Employee AS E;

# <u>**Chapter 04 - Subqueries**</u>

<img src="https://static.vecteezy.com/system/resources/previews/022/841/114/non_2x/chatgpt-logo-transparent-background-free-png.png" alt="AI" width="20" height="20"> _Written in collaboration with ChatGPT from OpenAI to improve understanding and assist with the explanation of the query_
- Proposition: Retrieves the details of the latest order along with its associated employee and customer information from the Sales.Order table.
- Table: The query interacts with the Sales.Order table.
- Columns: The selected columns include OrderId, OrderDate, EmployeeId, and CustomerId.
- Predicate: The WHERE clause filters the results to only include the order with the highest OrderId value, effectively retrieving the latest order placed.

In [ ]:
-- Order with the maximum order ID
USE TSQLV6;

DECLARE @maxid AS INT = (SELECT MAX(orderid)
                         FROM Sales.Orders);

SELECT orderid, orderdate, empid, custid
FROM Sales.Orders
WHERE orderid = @maxid;

SELECT orderid, orderdate, empid, custid
FROM Sales.Orders
WHERE orderid = (SELECT MAX(O.orderid)
                 FROM Sales.Orders AS O);


USE Northwinds2022TSQLV7;
DECLARE @maxid2 AS INT = (SELECT MAX(orderid)
                         FROM Sales.[Order]);

SELECT OrderId, OrderDate, EmployeeId, CustomerId
FROM Sales.[Order]
WHERE OrderId = @maxid2;

SELECT OrderId, OrderDate, EmployeeId, CustomerId
FROM Sales.[Order]
WHERE OrderId = (SELECT MAX(O.OrderId)
                 FROM Sales.[Order] AS O);


- Proposition: Retrieves the order IDs associated with employees whose last names start with the letter 'D' from the HumanResources.Employee and Sales.Order tables.
- Tables: The query interacts with both the HumanResources.Employee and Sales.Order tables.
- Columns: The selected column is O.orderid.
- Predicate: The query employs an INNER JOIN clause to link the HumanResources.Employee table (aliased as E) with the Sales.Order table (aliased as O) based on the common EmployeeId column. The WHERE clause further filters the results to include only those rows where the employee's last name starts with 'D'.

In [ ]:
USE TSQLV6;
SELECT O.orderid
FROM HR.Employees AS E
  INNER JOIN Sales.Orders AS O
    ON E.empid = O.empid
WHERE E.lastname LIKE N'D%';

USE Northwinds2022TSQLV7;
SELECT O.orderid
FROM HumanResources.Employee AS E
  INNER JOIN Sales.[Order] AS O
    ON E.EmployeeId = O.EmployeeId
WHERE E.EmployeeLastName LIKE N'D%';


- Proposition: Retrieves order details, including CustomerId, OrderId, OrderDate, and EmployeeId, where the OrderId corresponds to the maximum OrderId for each unique CustomerId in the Sales.Order table.
- Tables: The query interacts with the Sales.Order table, aliasing it as O1 in the main query and O2 in the subquery.
- Columns: The selected columns are CustomerId, OrderId, OrderDate, and EmployeeId from the Sales.Order table.
- Predicate: The main query employs a correlated subquery in the WHERE clause, comparing the OrderId of the main query (O1) with the maximum OrderId for the corresponding CustomerId from the subquery (O2). This ensures that only rows with the maximum OrderId for each unique CustomerId are included in the result set.

In [ ]:
USE TSQLV6;
SELECT custid, orderid, orderdate, empid
FROM Sales.Orders AS O1
WHERE orderid =
  (SELECT MAX(O2.orderid)
   FROM Sales.Orders AS O2
   WHERE O2.custid = O1.custid);

USE Northwinds2022TSQLV7;
SELECT CustomerId, OrderId, OrderDate, EmployeeId
FROM Sales.[Order] AS O1
WHERE OrderId =
  (SELECT MAX(O2.OrderId)
   FROM Sales.[Order] AS O2
   WHERE O2.CustomerId = O1.CustomerId);


- Proposition: Retrieves order details, including OrderId, OrderDate, EmployeeId, CustomerId, and the maximum OrderId preceding each order, from the Sales.Order table.
- Tables: The query interacts with the Sales.Order table, aliasing it as O1 in the main query and O2 in the correlated subquery.
- Columns: The selected columns are OrderId, OrderDate, EmployeeId, CustomerId, and a calculated column named prevorderid representing the maximum OrderId that occurred before each order.
- Predicate: The correlated subquery within the SELECT clause compares the OrderId of the main query (O1) with the OrderId of the subquery (O2) and retrieves the maximum OrderId (prevorderid) where the OrderId is less than that of the main query. This provides the maximum OrderId that precedes each order in the result set.

In [ ]:
USE TSQLV6;
SELECT orderid, orderdate, empid, custid,
  (SELECT MAX(O2.orderid)
   FROM Sales.Orders AS O2
   WHERE O2.orderid < O1.orderid) AS prevorderid
FROM Sales.Orders AS O1;

USE Northwinds2022TSQLV7;
SELECT OrderId, OrderDate, EmployeeId, CustomerId,
  (SELECT MAX(O2.orderid)
   FROM Sales.[Order] AS O2
   WHERE O2.OrderId < O1.OrderId) AS prevorderid
FROM Sales.[Order] AS O1;


- Proposition: Inserts a new order record into the Sales.Order table with specified values for various columns.
- Table: The query interacts with the Sales.Order table.
- Columns: The specified columns for the insertion include CustomerId, EmployeeId, OrderDate, RequiredDate, ShipToDate, ShipperId, freight, ShipToName, ShipToAddress, ShipToCity, ShipToRegion, ShipToPostalCode, and ShipToCountry.
- Values: The VALUES clause provides the specific values to be inserted into the corresponding columns of the Sales.Order table for the new order record.

In [ ]:
USE TSQLV6;
INSERT INTO Sales.Orders
  (custid, empid, orderdate, requireddate, shippeddate, shipperid,
   freight, shipname, shipaddress, shipcity, shipregion,
   shippostalcode, shipcountry)
VALUES
  (NULL, 1, '20220212', '20220212', '20220212', 1, 123.00, N'abc', N'abc', N'abc',N'abc', N'abc', N'abc');


USE Northwinds2022TSQLV7;
INSERT INTO Sales.[Order]
  (CustomerId, EmployeeId, OrderDate, RequiredDate, ShipToDate, ShipperId,
   freight, ShipToName, ShipToAddress, ShipToCity, ShipToRegion,
   ShipToPostalCode, ShipToCountry)
VALUES
  (NULL, 1, '20220212', '20220212', '20220212', 1, 123.00, N'abc', N'abc', N'abc',N'abc', N'abc', N'abc');

# <u>**Chapter 5 Exercises**</u>

## **Query 1**
- The issue in your query is that you are trying to reference the alias endofyear in the WHERE clause, but the WHERE clause is processed before the SELECT clause, so the alias is not recognized at that point. You cannot use an alias in the WHERE clause.
- To achieve the desired result, you can either repeat the expression in the WHERE clause or use a common table expression (CTE) or a subquery

In [ ]:
-- 1
-- The following query attempts to filter orders that were not placed on the last day of the year.
/*
USE TSQLV6;
GO

SELECT orderid, orderdate, custid, empid,
  DATEFROMPARTS(YEAR(orderdate), 12, 31) AS endofyear
FROM Sales.Orders
WHERE orderdate <> endofyear;
*/

-- When you try to run this query you get the following error.
/*
Msg 207, Level 16, State 1, Line 17
Invalid column name 'endofyear'.
*/
-- Explain what the problem is and suggest a valid solution.

--This is the valid solution
USE TSQLV6;
GO

SELECT orderid, orderdate, custid, empid, endofyear
FROM (
  SELECT orderid, orderdate, custid, empid, DATEFROMPARTS(YEAR(orderdate), 12, 31) AS endofyear
  FROM Sales.Orders
) AS Subquery
WHERE orderdate <> endofyear;

USE Northwinds2022TSQLV7;
GO

SELECT OrderId, OrderDate, CustomerId, EmployeeId, endofyear
FROM (
  SELECT orderid, orderdate, CustomerId, EmployeeId, DATEFROMPARTS(YEAR(orderdate), 12, 31) AS endofyear
  FROM Sales.[Order]
) AS Subquery
WHERE OrderDate <> endofyear;

## **Query 3-2**
<img src="https://static.vecteezy.com/system/resources/previews/022/841/114/non_2x/chatgpt-logo-transparent-background-free-png.png" alt="AI" width="20" height="20"> _Written in collaboration with ChatGPT from OpenAI to improve understanding and assist with the explanation of the query_
- Proposition: Retrieves a subset of ordered records from the Sales.Order table, incorporating row numbers based on ascending order of OrderDate and OrderId, and subsequently selects records falling within a specified row number range.
- Tables: The query interacts with the Sales.Order table, utilizing a Common Table Expression (CTE) named OrderedOrders.
- Columns: The selected columns include OrderId, OrderDate, CustomerId, EmployeeId, and a calculated column named rownum representing the row number assigned based on the specified ordering in the CTE.
- Predicate: The CTE, OrderedOrders, employs the ROW_NUMBER() function to assign row numbers to each record in the Sales.Order table, ordered by OrderDate and OrderId. The main query then filters the results to include only the records with row numbers falling within the range of 11 to 20.

In [ ]:
USE TSQLV6;
WITH OrderedOrders AS (
  SELECT
    orderid,
    orderdate,
    custid,
    empid,
    ROW_NUMBER() OVER (ORDER BY orderdate, orderid) AS rownum
  FROM
    Sales.Orders
)

SELECT
  orderid,
  orderdate,
  custid,
  empid,
  rownum
FROM
  OrderedOrders
WHERE
  rownum BETWEEN 11 AND 20;

  USE Northwinds2022TSQLV7;
  WITH OrderedOrders AS (
  SELECT
    OrderId,
    OrderDate,
    CustomerId,
    EmployeeId,
    ROW_NUMBER() OVER (ORDER BY orderdate, orderid) AS rownum
  FROM
    Sales.[Order]
)

SELECT
  OrderId,
  OrderDate,
  CustomerId,
  EmployeeId,
  rownum
FROM
  OrderedOrders
WHERE
  rownum BETWEEN 11 AND 20;

# <u>**Chapter 05 - Table Expressions**</u>


- Proposition: Retrieves all columns from a subset of records in the Sales.Customer table, specifically those with CustomerCountry equal to 'USA'.
- Tables: The query interacts with the Sales.Customer table, aliasing the subset of records as USACusts.
- Columns: The SELECT * statement is used to retrieve all columns from the subset, which includes CustomerId and CustomerCompanyName.
- Predicate: The WHERE clause filters the records from the Sales.Customer table, selecting only those where the CustomerCountry is equal to 'USA'.

In [ ]:
USE TSQLV6;
SELECT *
FROM (SELECT custid, companyname
      FROM Sales.Customers
      WHERE country = N'USA') AS USACusts;

USE Northwinds2022TSQLV7;
SELECT *
FROM (SELECT CustomerId, CustomerCompanyName
      FROM Sales.Customer
      WHERE CustomerCountry = N'USA') AS USACusts;

<img src="https://static.vecteezy.com/system/resources/previews/022/841/114/non_2x/chatgpt-logo-transparent-background-free-png.png" alt="AI" width="20" height="20"> _Written in collaboration with ChatGPT from OpenAI to improve understanding and assist with the explanation of the query_
- Proposition: Retrieves the count of distinct customers for each order year associated with a specific employee from the Sales.Order table.
- Tables: The query interacts with the Sales.Order table, aliasing a subset of records as D.
- Columns: The selected columns include orderyear (derived from the OrderDate), and the count of distinct CustomerId values as numcusts.
- Predicate: The WHERE clause filters records from the Sales.Order table, focusing on those with EmployeeId matching the parameter @empid. The final query groups the results by orderyear, providing the count of distinct customers for each order year.

In [ ]:
-- Yearly Count of Customers handled by Employee 3
USE TSQLV6;
DECLARE @empid AS INT = 3;

SELECT orderyear, COUNT(DISTINCT custid) AS numcusts
FROM (SELECT YEAR(orderdate) AS orderyear, custid
      FROM Sales.Orders
      WHERE empid = @empid) AS D
GROUP BY orderyear;
GO

USE Northwinds2022TSQLV7;
DECLARE @empid AS INT = 3;

SELECT orderyear, COUNT(DISTINCT CustomerId) AS numcusts
FROM (SELECT YEAR(OrderDate) AS orderyear, CustomerId
      FROM Sales.[Order]
      WHERE EmployeeId = @empid) AS D
GROUP BY orderyear;
GO


- Proposition: Analyzes the count of distinct customers for each order year from the Sales.Order table, utilizing a Common Table Expression (CTE) named C to extract and preprocess relevant data.
- Tables: The query interacts with the Sales.Order table, using a CTE named C to extract and transform data.
- Columns: The selected columns include orderyear (derived from the OrderDate), and the count of distinct CustomerId values as numcusts.
- Predicate: The CTE (C) selects the order year (orderyear) and CustomerId from the Sales.Order table. The final query then utilizes the CTE to group the results by orderyear, providing the count of distinct customers for each order year.

In [ ]:
-- Inline column aliasing
USE TSQLV6;
WITH C AS
(
  SELECT YEAR(orderdate) AS orderyear, custid
  FROM Sales.Orders
)
SELECT orderyear, COUNT(DISTINCT custid) AS numcusts
FROM C
GROUP BY orderyear;

USE Northwinds2022TSQLV7;
WITH C AS
(
  SELECT YEAR(OrderDate) AS orderyear, CustomerId
  FROM Sales.[Order]
)
SELECT orderyear, COUNT(DISTINCT CustomerId) AS numcusts
FROM C
GROUP BY orderyear;

<img src="https://static.vecteezy.com/system/resources/previews/022/841/114/non_2x/chatgpt-logo-transparent-background-free-png.png" alt="AI" width="20" height="20"> _Written in collaboration with ChatGPT from OpenAI to improve understanding and assist with the explanation of the query_
- Proposition: Retrieves a hierarchical representation of employees and their managers, starting from a specified employee (EmployeeId = 2) and traversing the organizational structure using a recursive Common Table Expression (CTE).
- Tables: The query interacts with the HumanResources.Employee table, using it in both the base and recursive parts of the CTE.
- Columns: The selected columns include EmployeeId, EmployeeManagerId, EmployeeFirstName, and EmployeeLastName.
- Predicate: The CTE (EmpsCTE) employs a UNION ALL to combine the base case, which selects information about the specified employee (EmployeeId = 2), with the recursive case, which iteratively joins employees with their respective managers based on the EmployeeManagerId. The final query then retrieves the hierarchical representation of employees and their managers from the CTE.

In [ ]:
-- Recursive CTEs
USE TSQLV6;
WITH EmpsCTE AS
(
  SELECT empid, mgrid, firstname, lastname
  FROM HR.Employees
  WHERE empid = 2
  
  UNION ALL
  
  SELECT C.empid, C.mgrid, C.firstname, C.lastname
  FROM EmpsCTE AS P
    INNER JOIN HR.Employees AS C
      ON C.mgrid = P.empid
)
SELECT empid, mgrid, firstname, lastname
FROM EmpsCTE;
GO

USE Northwinds2022TSQLV7;
WITH EmpsCTE AS
(
  SELECT EmployeeId, EmployeeManagerId, EmployeeFirstName, EmployeeLastName
  FROM HumanResources.Employee
  WHERE EmployeeId = 2
  
  UNION ALL
  
  SELECT C.EmployeeId, C.EmployeeManagerId, C.EmployeeFirstName, C.EmployeeLastName
  FROM EmpsCTE AS P
    INNER JOIN HumanResources.Employee AS C
      ON C.EmployeeManagerId = P.EmployeeId
)
SELECT EmployeeId, EmployeeManagerId, EmployeeFirstName, EmployeeLastName
FROM EmpsCTE;
GO

- Proposition: Creates or alters a view named "Sales.USACusts" with encryption, encapsulating customer information from the Sales.Customer table. The view specifically filters customers based on the condition where the CustomerCountry is 'USA', providing a focused subset of data. This proposition streamlines access to information for USA-based customers, enhancing query efficiency and facilitating targeted analysis.
- Tables/View: Sales.Customer, Sales.USACusts (view)
- Columns: CustomerId, CustomerCompanyName, CustomerContactName, CustomerContactTitle, CustomerAddress, CustomerCity, CustomerRegion, CustomerPostalCode, CustomerCountry, CustomerPhoneNumber, CustomerFaxNumber
- Predicate: The view includes a WHERE clause filtering customers from the Sales.Customer table based on the condition CustomerCountry = N'USA'.

In [ ]:
USE TSQLV6;
GO
CREATE OR ALTER VIEW Sales.USACusts WITH ENCRYPTION
AS

SELECT
  custid, companyname, contactname, contacttitle, address,
  city, region, postalcode, country, phone, fax
FROM Sales.Customers
WHERE country = N'USA';
GO

USE Northwinds2022TSQLV7;
GO
CREATE OR ALTER VIEW Sales.USACusts WITH ENCRYPTION
AS

SELECT
  CustomerId, CustomerCompanyName, CustomerContactName, CustomerContactTitle, CustomerAddress,
  CustomerCity, CustomerRegion, CustomerPostalCode, CustomerCountry, CustomerPhoneNumber, CustomerFaxNumber
FROM Sales.Customer
WHERE CustomerCountry = N'USA';
GO


- Proposition: Retrieves a list of all customers with their corresponding CustomerId, CustomerCompanyName, and CustomerRegion information from the Sales.Customer table.
- Tables/Views: The query interacts with the Sales.USACusts view. This view extracts data from the Sales.Customer table
- Columns: The selected columns include CustomerId, CustomerCompanyName, and CustomerRegion.
- Predicate: The query does not apply any specific predicate or filtering condition to restrict the results, thus fetching all records from the Sales.Customer table.

In [ ]:
-- Query USACusts
USE TSQLV6;
SELECT custid, companyname, region
FROM Sales.USACusts;
GO

USE Northwinds2022TSQLV7;
SELECT CustomerId, CustomerCompanyName, CustomerRegion
FROM Sales.USACusts;
GO


- Proposition: Inserts a new customer record into the Sales.Customer table with specified values for various columns.
- Table/View: The query interacts with the Sales.USACusts view. This data extracts Sales.Customer table.
- Columns: The specified columns for the insertion include CustomerCompanyName, CustomerContactName, CustomerContactTitle, CustomerAddress, CustomerCity, CustomerRegion, CustomerPostalCode, CustomerCountry, CustomerPhoneNumber, and CustomerFaxNumber.
- Values: The VALUES clause provides the specific values to be inserted into the corresponding columns of the Sales.Customer table for the new customer record.

In [ ]:
-- Notice that you can insert a row through the view
USE TSQLV6;
INSERT INTO Sales.USACusts(
  companyname, contactname, contacttitle, address,
  city, region, postalcode, country, phone, fax)
 VALUES(
  N'Customer ABCDE', N'Contact ABCDE', N'Title ABCDE', N'Address ABCDE',
  N'London', NULL, N'12345', N'UK', N'012-3456789', N'012-3456789');

USE Northwinds2022TSQLV7;
INSERT INTO Sales.USACusts(
  CustomerCompanyName, CustomerContactName, CustomerContactTitle, CustomerAddress,
  CustomerCity, CustomerRegion, CustomerPostalCode, CustomerCountry, CustomerPhoneNumber, CustomerFaxNumber)
 VALUES(
  N'Customer ABCDE', N'Contact ABCDE', N'Title ABCDE', N'Address ABCDE',
  N'London', NULL, N'12345', N'UK', N'012-3456789', N'012-3456789');


- Proposition: Deletes customer records from the Sales.Customer table with CustomerId greater than 91 and drops a view named Sales.USACusts if it exists.
- Tables: The query interacts with the Sales.Customer table.
- Columns: The DELETE statement affects the entire row, and the DROP VIEW statement does not involve specific columns.
- View: Sales.USACusts
- Attributes: N/A
- Predicate: The DELETE statement has a WHERE clause specifying the condition to delete customer records where CustomerId is greater than 91. The DROP VIEW statement checks for the existence of the Sales.USACusts view and drops it if it exists.

In [ ]:
-- Cleanup
USE TSQLV6;
DELETE FROM Sales.Customers
WHERE custid > 91;

DROP VIEW IF EXISTS Sales.USACusts;
GO

USE Northwinds2022TSQLV7;
DELETE FROM Sales.Customer
WHERE CustomerId > 91;

DROP VIEW IF EXISTS Sales.USACusts;
GO


- Proposition: Retrieves all possible combinations of pairs between shippers and employees, utilizing a CROSS JOIN clause to generate a Cartesian product between the Sales.Shipper and HumanResources.Employee tables.
- Tables: The query interacts with the Sales.Shipper and HumanResources.Employee tables.
- Columns: The selected columns include ShipperId from the Sales.Shipper table and EmployeeId from the HumanResources.Employee table.
- Predicate: The query employs a CROSS JOIN clause to combine every row from the Sales.Shipper table (as S) with every row from the HumanResources.Employee table (as E), resulting in all possible combinations of shippers and employees.

In [ ]:
-- APPLY
USE TSQLV6;
SELECT S.shipperid, E.empid
FROM Sales.Shippers AS S
  CROSS JOIN HR.Employees AS E;

USE Northwinds2022TSQLV7;
SELECT S.ShipperId, E.EmployeeId
FROM Sales.Shipper AS S
  CROSS JOIN HumanResources.Employee AS E;