# MY TOP 5

# CHAP 4 Exercise 1

\-- Write a query that returns all orders placed on the last day of

\-- activity that can be found in the Orders table

\-- Tables involved: TSQLV6 database, Orders table

## My Answer:

**Proposition:** Write a query that retrieves orders with the latest order date ordered by OrderId in descending order.

**Table:** Sales.\[Order\]

**Columns:** OrderId, OrderDate, CustomerId, and EmployeeId from the Sales.\[Order\] table.

**Predicate:** 
```
WHERE OrderDate = (SELECT MAX(O.OrderDate) FROM Sales.[Order] AS O)
```
This WHERE clause filters the Sales.\[Order\] table to only return rows where the OrderDate matches the maximum OrderDate value in the subquery.

**What's special:**

Subquery with aggregate function:

```
WHERE OrderDate =
    (SELECT MAX (O.OrderDate) FROM Sales.[Order] AS O)

```

The MAX() aggregate function finds the maximum order date from the Sales.\[Order\] table. This subquery helps identify the most recent order date.

In [ ]:
USE TSQLV6;
SELECT orderid, orderdate, custid, empid
FROM Sales.Orders
WHERE orderdate =
  (SELECT MAX(O.orderdate) FROM Sales.Orders AS O)
  ORDER BY orderid DESC;

USE Northwinds2022TSQLV7;
SELECT OrderId, OrderDate, CustomerId, EmployeeId
FROM Sales.[Order]
WHERE OrderDate =
    (SELECT MAX (O.OrderDate) FROM Sales.[Order] AS O)
    ORDER BY OrderId DESC;

# CHAP 5 Exercise 6-1

\-- Create an inline function that accepts as inputs

\-- a supplier id (@supid AS INT),

\-- and a requested number of products (@n AS INT)

\-- The function should return @n products with the highest unit prices

\-- that are supplied by the given supplier id

\-- Tables involved: Production.Products

## My Answer:

**Proposition:** Create a user-defined function named TopProduct that retrieves the top N products based on unit price for a given supplier.

**Function:** Production.TopProduct

**Parameters:** @supid (SupplierId) as INT, @n (Number of products) as INT

**Returns:** ProductId, ProductName, and UnitPrice

**Predicate:** WHERE SupplierId = @supid. This WHERE clause filters the Production.Product table to only return rows where the SupplierId matches the input parameter.

**What's special:**

Function Creation with parameters: 

This function takes two parameters (@supid and @n) and returns a table with columns ProductId, ProductName, and 

UnitPrice. It selects the top @n products based on their UnitPrice from the Production.Product table where the SupplierId matches the @supid 

parameter. The results are ordered by UnitPrice in descending order.

In [ ]:
USE TSQLV6;
DROP FUNCTION IF EXISTS Production.TopProducts;
GO
CREATE FUNCTION Production.TopProducts
  (@supid AS INT, @n AS INT)
  RETURNS TABLE
AS
RETURN
  SELECT TOP (@n) productid, productname, unitprice
  FROM Production.Products
  WHERE supplierid = @supid
  ORDER BY unitprice DESC;
GO
-- added this to show the output of Production.TopProducts function
SELECT * FROM Production.TopProducts(5, 2);



USE Northwinds2022TSQLV7;
DROP FUNCTION IF EXISTS Production.TopProduct;
GO
CREATE FUNCTION Production.TopProduct
  (@supid AS INT, @n AS INT)
  RETURNS TABLE
AS
RETURN
  SELECT TOP (@n) ProductId, ProductName, UnitPrice
  FROM Production.Product
  WHERE SupplierId = @supid
  ORDER BY UnitPrice DESC;
GO
-- added this to show the output of Production.TopProducts function
SELECT * FROM Production.TopProduct(5, 2);

# CHAP 4 -- Multi-Valued Subqueries

## My Answer:

**Proposition:** Write a query that retrieves orders placed by employees whose last names start with the letter 'D'.

**Table:** Sales.\[Order\] and HumanResources.\[Employee\]

**Columns:** OrderId from the Sales.\[Order\] table,Â <span style="color: rgb(33, 33, 33); font-family: Menlo, Monaco, &quot;Courier New&quot;, monospace; font-size: 12px; white-space: pre;">EmployeeId from the </span> <span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; color: var(--vscode-foreground);">HumanResources.[Employee] table</span>

**Predicate:** WHERE EmployeeId IN (SELECT E.EmployeeId FROM HumanResources.\[Employee\] AS E WHERE E.EmployeeLastName LIKE N'D%'). This WHERE clause filters the Sales.\[Order\] table to only return rows where the EmployeeId matches an EmployeeId whose last name starts with 'D'.

**What's special:**

Subquery:

```
(SELECT E.EmployeeId
   FROM HumanResources.[Employee] AS E
   WHERE E.EmployeeLastName LIKE N'D%')

```

This subquery selects the EmployeeId from the HumanResources.\[Employee\] table where the EmployeeLastName starts with the letter 'D'. It uses the LIKE operator with the pattern 'D%' to match such last names.

LIKE operator:

```
E.EmployeeLastName LIKE N'D%'

```

A Like operator is used to search a specified pattern within a string column. In this case, the query uses the pattern 'D%' to find the EmployeeLastName starts with the letter 'D'.

IN operator:

```
WHERE EmployeeId IN -- then subquery

```

A IN operator is used to specify multiple values in a WHERE clause, allowing you to filter rows based on whether a specified value matches any value in a list or a subquery. In this case, the main query filters rows from the Sales.\[Order\] table where the EmployeeId matches any of the EmployeeId values returned by the subquery.

In [ ]:
USE TSQLV6;
SELECT orderid
FROM Sales.Orders
WHERE empid IN
  (SELECT E.empid
   FROM HR.Employees AS E
   WHERE E.lastname LIKE N'D%')
   ORDER BY orderid;


USE Northwinds2022TSQLV7;
SELECT OrderId
FROM Sales.[Order]
WHERE EmployeeId IN
  (SELECT E.EmployeeId
   FROM HumanResources.[Employee] AS E
   WHERE E.EmployeeLastName LIKE N'D%')
   ORDER BY OrderId;

# CHAP 5 -- Common Table Expressions

## My Answer:

**Proposition:** Write a query that selects all customers located in the USA.

**Table:** Sales.Customer

**Columns:** CustomerId and CustomerCompanyName

**Predicate:**

```
WHERE CustomerCountry = N'USA'

```

This WHERE clause filters the Sales.Customer table to only return rows where the CustomerCountry is 'USA'.

**What's special:**

Common Table Expression:

The keyword "WITH" signals the declaration of a CTE. In this case, named "USACusts". Inside the Common Table Expression, it selects specific columns (CustomerId, 

CustomerCompanyName) from the Sales.Customer table, filtering for customers located in the USA (CustomerCountry = N'USA').

The Common Table Expression serves as a temporary result set that can be referenced within the subsequent query (SELECT * FROM USACusts;).

In [ ]:
USE TSQLV6;
WITH USACusts AS
(
  SELECT custid, companyname
  FROM Sales.Customers
  WHERE country = N'USA'
)
SELECT * FROM USACusts;


USE Northwinds2022TSQLV7;
WITH USACusts AS
(
  SELECT CustomerId, CustomerCompanyName
  FROM Sales.Customer
  WHERE CustomerCountry = N'USA'
)
SELECT * FROM USACusts;

# CHAP 5 -- APPLY

## My Answer:
**Proposition:** Write a query that retrieves customer information along with the most recent orders for each customer.

**Table:** Sales.Customer and Sales.[Order]

**Columns:** CustomerId from Sales.Customer table, and OrderId, OrderDate from the most recent orders for each customer.

**Predicate:** The query uses OUTER APPLY to join the Sales.Customer table with a subquery that retrieves the top 3 most recent orders for each customer.

**What's special:**

OUTTER APPLY:
```
OUTER APPLY
    (SELECT TOP (3) orderid, EmployeeId, OrderDate, requireddate 
     FROM Sales.[Order] AS O
     WHERE O.CustomerId = C.CustomerId
     ORDER BY OrderDate DESC, OrderId DESC) AS A;
```
The OUTER APPLY clause works like a join but allows you to use a correlated subquery to retrieve additional columns from another table for each row in the outer table, in this case the Sales.Customer table.

Top (N):
```
SELECT TOP (3) orderid, empid, orderdate, requireddate
```
In the subquery, TOP (N) is used to select the top N rows from column. In this case, TOP (N) is used with the ORDER BY clause in descending order to select the top three most recent orders for each customer.

GO:

GO allows you to separate different parts of your script into logical groups or batches.


<img src="https://static.vecteezy.com/system/resources/previews/022/841/114/non_2x/chatgpt-logo-transparent-background-free-png.png" alt="AI" width="20" height="20"> ChatGPT from OpenAI assisted me with explaination of operations to further understand this query

In [ ]:
USE TSQLV6;
-- 3 most recent orders for each customer, preserve all customers
SELECT C.custid, A.orderid, A.orderdate
FROM Sales.Customers AS C
  OUTER APPLY
    (SELECT TOP (3) orderid, empid, orderdate, requireddate 
     FROM Sales.Orders AS O
     WHERE O.custid = C.custid
     ORDER BY orderdate DESC, orderid DESC) AS A;
GO

USE Northwinds2022TSQLV7;
SELECT C.CustomerId, A.OrderId, A.OrderDate
FROM Sales.Customer AS C
  OUTER APPLY
    (SELECT TOP (3) orderid, EmployeeId, OrderDate, requireddate 
     FROM Sales.[Order] AS O
     WHERE O.CustomerId = C.CustomerId
     ORDER BY OrderDate DESC, OrderId DESC) AS A;
GO

***
# Rest of My Queries
***

# CHAP 4 Exercise 7

\-- Write a query that returns customers

\-- who ordered product 12

\-- Tables involved: TSQLV6 database,

\-- Customers, Orders and OrderDetails tables

## My Answer:

**Proposition:** Write a query that retrieves customer information for customers who have placed orders containing a specific product (ProductID = 12).

**Table:** Sales.\[Customer\], Sales.\[Order\], and Sales.\[OrderDetail\]

**Columns:** CustomerId and CustomerCompanyName from the Sales.\[Customer\] table.

**Predicate:**Â 

 ``` 
 WHERE EXISTS 
    (SELECT * 
    FROM Sales.[Order] AS O 
    WHERE O.CustomerId = C.CustomerId 
    AND EXISTS 
    (SELECT * FROM Sales.[OrderDetail] AS OD 
    WHERE OD.OrderId = O.OrderId 
        AND OD.ProductID = 12))
 ```

This WHERE clause ensures that the query returns rows from the Sales.\[Customer\] table only if there exists an order placed by that customer containing the specified product.

In [ ]:
USE TSQLV6;
SELECT custid, companyname
FROM Sales.Customers AS C
WHERE EXISTS
  (SELECT *
   FROM Sales.Orders AS O
   WHERE O.custid = C.custid
     AND EXISTS
       (SELECT *
        FROM Sales.OrderDetails AS OD
        WHERE OD.orderid = O.orderid
          AND OD.productid = 12));


USE Northwinds2022TSQLV7;
SELECT CustomerId, CustomerCompanyName
FROM Sales.[Customer] AS C
WHERE EXISTS
  (SELECT *
   FROM Sales.[Order] AS O
   WHERE O.CustomerId = C.CustomerId
     AND EXISTS
       (SELECT *
        FROM Sales.[OrderDetail] AS OD
        WHERE OD.OrderId = O.OrderId
          AND OD.ProductID = 12))
          ORDER BY CustomerCompanyName;

# CHAP 4 -- Multi-Valued Subqueries

## My Answer:

**Proposition:** Write a query that returns a list of numbers within a specified range that are not present as OrderId values in the dbo.\[Order\] table.

**Table:** dbo.Nums,Â Â <span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; color: var(--vscode-foreground);">dbo.[Order]</span>Â <span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; color: var(--vscode-foreground);">referred as 0</span>

**Columns:** N

**Predicate:**

```
WHERE N BETWEEN (SELECT MIN(O.OrderId) FROM dbo.[Order] AS O)
            AND (SELECT MAX(O.OrderId) FROM dbo.[Order] AS O)
  AND N NOT IN (SELECT O.OrderId FROM dbo.[Order] AS O);

```

The WHERE clause filters rows where the value of N is between the minimum and maximum OrderId values present in the dbo.\[Order\] table. Additionally, it excludes values of N that match existing OrderId values in the dbo.\[Order\] table.

In [ ]:
USE TSQLV6;
GO
SELECT n
FROM dbo.Nums
WHERE n BETWEEN (SELECT MIN(O.orderid) FROM dbo.Orders AS O)
            AND (SELECT MAX(O.orderid) FROM dbo.Orders AS O)
  AND n NOT IN (SELECT O.orderid FROM dbo.Orders AS O);



USE Northwinds2022TSQLV7;
SELECT N
FROM dbo.Nums
WHERE N BETWEEN (SELECT MIN(O.OrderId) FROM dbo.[Order] AS O)
            AND (SELECT MAX(O.OrderId) FROM dbo.[Order] AS O)
  AND N NOT IN (SELECT O.OrderId FROM dbo.[Order] AS O);

# CHAP 4 -- EXISTS

## My Answer:
**Proposition:** Write a query that retrieves customer information for customers in Spain who have not placed any orders.

**Table:** Sales.Customer and Sales.[Order]

**Columns:** CustomerId and CustomerCompanyName from the Sales.Customer table.

**Predicate:**  
```
WHERE CustomerCountry = N'Spain' 
    AND NOT EXISTS 
    (SELECT * FROM Sales.[Order] AS O 
    WHERE O.CustomerId = C.CustomerId);
```

This WHERE clause ensures that the query returns rows from the Sales.Customer table only for customers in Spain who have no corresponding orders in the Sales.[Order] table.

In [ ]:
USE TSQLV6;
-- Customers from Spain who didn't place Orders
SELECT custid, companyname
FROM Sales.Customers AS C
WHERE country = N'Spain'
  AND NOT EXISTS
    (SELECT * FROM Sales.Orders AS O
     WHERE O.custid = C.custid);


USE Northwinds2022TSQLV7;
SELECT CustomerId, CustomerCompanyName
FROM Sales.Customer AS C
WHERE CustomerCountry = N'Spain'
  AND NOT EXISTS
    (SELECT * FROM Sales.[Order] AS O
     WHERE O.CustomerId = C.CustomerId);

# CHAP 4 -- NULL Trouble

## My Answer:

**Proposition:** Write a query that returns customers who have not placed any orders.

**Table:** Sales.Customer,Â Sales.[Order] referred as O

**Columns:** CustomerId and CustomerCompanyName from the Sales.Customer table, CustomerId from Sales.[Order].

**Predicate:**

```
WHERE CustomerId NOT IN (SELECT O.CustomerId FROM Sales.[Order] AS O)
```
This WHERE clause filters the Sales.Customer table to only return rows whose CustomerId does not match any values returned by the subquery, which retrieves CustomerId values from the Sales.Order table.

In [ ]:

-- Customers who didn't place orders

-- Using NOT IN
USE TSQLV6;
SELECT custid, companyname
FROM Sales.Customers
WHERE custid NOT IN(SELECT O.custid
                    FROM Sales.Orders AS O);


USE Northwinds2022TSQLV7;
SELECT CustomerId, CustomerCompanyName
FROM Sales.Customer
WHERE CustomerId NOT IN(SELECT O.CustomerId
                    FROM Sales.[Order] AS O);

# CHAP 4 -- NULL Trouble

## My Answer:
**Proposition:** Perform a deletion operation on the Sales.[Order] table to remove any orders where the CustomerId is NULL.

**Table:** Sales.[Order]

**Column:** CustomerId

**Predicate:** 
```
DELETE FROM Sales.[Order] WHERE CustomerId IS NULL;
```
 This command deletes rows from the Sales.[Order] table where the CustomerId column is NULL.

In [ ]:
-- Cleanup
USE TSQLV6;
DELETE FROM Sales.Orders WHERE custid IS NULL;
SELECT custid from sales.orders
ORDER By custid;

USE Northwinds2022TSQLV7;
DELETE FROM Sales.[Order] WHERE CustomerId IS NULL;
-- Added this to show this are no CustomerId with NULL
SELECT CustomerId from sales.[Order]
ORDER By CustomerId;

# CHAP 4 -- Substitution Error in a Subquery Column Name

## My Answer:
**Proposition:** Create a table named 'MyShippers' in the Sales schema to store shipper information.

**Table:** Sales.MyShippers

**Columns:** ShipperId (INT, PRIMARY KEY), CompanyName (NVARCHAR(40)), Phone (NVARCHAR(24))

**Predicate:** This script uses SQL statements to drop the 'MyShippers' table if it exists, then creates the table with specified columns and constraints, and finally inserts data into the table.

In [ ]:
-- Create and populate table Sales.MyShippers

USE TSQLV6;
DROP TABLE IF EXISTS Sales.MyShippers;

CREATE TABLE Sales.MyShippers
(
  shipper_id  INT          NOT NULL,
  companyname NVARCHAR(40) NOT NULL,
  phone       NVARCHAR(24) NOT NULL,
  CONSTRAINT PK_MyShippers PRIMARY KEY(shipper_id)
);

INSERT INTO Sales.MyShippers(shipper_id, companyname, phone)
  VALUES(1, N'Shipper GVSUA', N'(503) 555-0137'),
	      (2, N'Shipper ETYNR', N'(425) 555-0136'),
				(3, N'Shipper ZHISN', N'(415) 555-0138');

Select shipper_id, companyname, phone
FROM Sales.MyShippers;


USE Northwinds2022TSQLV7;
DROP TABLE IF EXISTS Sales.MyShippers;

CREATE TABLE Sales.MyShippers
(
  ShipperId  INT          NOT NULL,
  CompanyName NVARCHAR(40) NOT NULL,
  Phone       NVARCHAR(24) NOT NULL,
  CONSTRAINT PK_MyShippers PRIMARY KEY(ShipperId)
);

INSERT INTO Sales.MyShippers(ShipperId, CompanyName, Phone)
  VALUES(1, N'Shipper GVSUA', N'(503) 555-0137'),
	      (2, N'Shipper ETYNR', N'(425) 555-0136'),
				(3, N'Shipper ZHISN', N'(415) 555-0138');
-- Added this to show the ShipperId, CompanyName and Phone columns
Select ShipperId, CompanyName, Phone
FROM Sales.MyShippers;

# CHAP 5 Exercise 5-2

\-- Write a query against Sales.VEmpOrders

\-- that returns the running qty for each employee and year

\-- Tables involved: TSQLV6 database, Sales.VEmpOrders view

## My Answer:

**Proposition:** Write a query that calculates the running total quantity (RunQty) for each employee's orders using the Sales.VEmpOrders view.

**View:** Sales.VEmpOrders

**Attributes:** EmployeeId, OrderYear, Qty from the Sales.VEmpOrders view.

**Predicates:**Â This query has a subquery to calculate the running total quantity (RunQty) for each employee.

In [ ]:
USE TSQLV6;
SELECT empid, orderyear, qty,
  (SELECT SUM(qty)
   FROM  Sales.VEmpOrders AS V2
   WHERE V2.empid = V1.empid
     AND V2.orderyear <= V1.orderyear) AS runqty
FROM  Sales.VEmpOrders AS V1
ORDER BY empid;

USE Northwinds2022TSQLV7;
SELECT EmployeeId, OrderYear, Qty,
  (SELECT SUM(Qty)
   FROM  Sales.VEmpOrders AS V2
   WHERE V2.EmployeeId = V1.EmployeeId
     AND V2.OrderYear <= V1.OrderYear) AS RunQty
FROM  Sales.VEmpOrders AS V1
ORDER BY EmployeeId;

# CHAP 5 -- Assigning Column Aliases

## My Answer:
**Proposition:** Write a query that counts the number of distinct customers for each year orders were placed.

**Table:** Sales.[Order]

**Columns:** OrderYear (derived from OrderDate), NumCusts (count of distinct CustomerId)

**Predicate:** This query first extracts the year from the OrderDate column, then counts the distinct CustomerId for each year.

<img src="https://static.vecteezy.com/system/resources/previews/022/841/114/non_2x/chatgpt-logo-transparent-background-free-png.png" alt="AI" width="20" height="20"> ChatGPT from OpenAI assisted me with explaination of operations to further understand this query

In [ ]:
Use TSQLV6;
-- External column aliasing
SELECT orderyear, COUNT(DISTINCT custid) AS numcusts
FROM (SELECT YEAR(orderdate), custid
      FROM Sales.Orders) AS D(orderyear, custid)
GROUP BY orderyear;
GO


USE Northwinds2022TSQLV7;
SELECT OrderYear, COUNT(DISTINCT CustomerId) AS NumCusts
FROM (SELECT YEAR(OrderDate), CustomerId
      FROM Sales.[Order]) AS D(OrderYear, CustomerId)
GROUP BY OrderYear;
GO

# CHAP 5 -- Multiple References

## My Answer:

**Proposition:** Write a query that compares the number of customers in each year to the previous year, showing the growth in the number of customers.


**Table:** Sales.\[Order\]

**Columns:** OrderYear (derived from OrderDate), CurNumCustomers (current year's count of distinct customers), PrvNumCustomers (previous year's count of distinct customers), and Growth (the difference in customer count between the current year and the previous year).

**Predicate:** 

The CTE (Common Table Expression) named "YearlyCount" calculates the count of distinct customers for each year by extracting the year from the OrderDate and then counting the distinct CustomerId values.

The main query joins the YearlyCount CTE with itself using a LEFT OUTER JOIN to compare the number of customers in the current year with the number in the previous year.


<img src="https://static.vecteezy.com/system/resources/previews/022/841/114/non_2x/chatgpt-logo-transparent-background-free-png.png" alt="AI" width="20" height="20"> ChatGPT from OpenAI assisted me with explaination to further understand this query

In [ ]:
USE TSQLV6;
WITH YearlyCount AS
(
  SELECT YEAR(orderdate) AS orderyear,
    COUNT(DISTINCT custid) AS numcusts
  FROM Sales.Orders
  GROUP BY YEAR(orderdate)
)
SELECT Cur.orderyear, 
  Cur.numcusts AS curnumcusts, Prv.numcusts AS prvnumcusts,
  Cur.numcusts - Prv.numcusts AS growth
FROM YearlyCount AS Cur
  LEFT OUTER JOIN YearlyCount AS Prv
    ON Cur.orderyear = Prv.orderyear + 1;


USE Northwinds2022TSQLV7;
WITH YearlyCount AS
(
  SELECT YEAR(OrderDate) AS OrderYear,
    COUNT(DISTINCT CustomerId) AS NumCusts
  FROM Sales.[Order]
  GROUP BY YEAR(OrderDate)
)
SELECT Cur.OrderYear, 
  Cur.NumCusts AS CurNumCustomers, Prv.NumCusts AS PrvNumCustomers,
  Cur.NumCusts - Prv.NumCusts AS Growth
FROM YearlyCount AS Cur
  LEFT OUTER JOIN YearlyCount AS Prv
    ON Cur.OrderYear = Prv.OrderYear + 1;

# CHAP 5 -- Views and ORDER BY

## My Answer:
**Proposition:** Write a query that selects all customers located in the USA, ordered by region.

**Table:** Sales.Customer

**Columns:** CustomerId, CustomerCompanyName, CustomerContactName, CustomerContactTitle, CustomerAddress, CustomerCity, CustomerRegion, CustomerPostalCode, CustomerCountry, CustomerPhoneNumber, CustomerFaxNumber

**Predicate:** 
```
WHERE CustomerCountry = N'USA'
```

This WHERE clause filters the Sales.Customer table to only return rows where the CustomerCountry is 'USA'.

In [ ]:
USE TSQLV6;
SELECT TOP (100) PERCENT
  custid, companyname, contactname, contacttitle,
  city, region, postalcode, country, phone, fax
FROM Sales.Customers
WHERE country = N'USA'
ORDER BY region;
GO


USE Northwinds2022TSQLV7;
SELECT TOP (100) PERCENT
  CustomerId, CustomerCompanyName, CustomerContactName, CustomerContactTitle, CustomerAddress,
  CustomerCity, CustomerRegion, CustomerPostalCode, CustomerCountry, CustomerPhoneNumber, CustomerFaxNumber
FROM Sales.Customer
WHERE CustomerCountry = N'USA'
ORDER BY CustomerRegion;
GO

# CHAP 5 -- ENCRYPTION

## My Answer:

**Proposition:** Retrieve the definition of the 'USACusts' view in the Sales schema.

**View:** Sales.USACusts 

**Columns:** None referenced

**Predicate:** OBJECT\_DEFINITION(OBJECT\_ID('Sales.USACusts')). This retrieves the definition of the view named 'USACusts' in the Sales schema.

<img src="https://static.vecteezy.com/system/resources/previews/022/841/114/non_2x/chatgpt-logo-transparent-background-free-png.png" alt="AI" width="20" height="20"> ChatGPT from OpenAI assisted me with explaination of operations to further understand this query

In [ ]:
USE TSQLV6;
SELECT OBJECT_DEFINITION(OBJECT_ID('Sales.USACusts'));
GO


USE Northwinds2022TSQLV7;
SELECT OBJECT_DEFINITION(OBJECT_ID('Sales.USACusts'));
GO

# CHAP 5 -- SCHEMABINDING

## My Answer:

**Proposition:** Drop the column CustomerAddress from the Sales.Customer table.

**Table:** Sales.Customer

**Predicate:** The DROP operation intends to remove the CustomerAddress column from the Sales.Customer table.

**Trying the schema change:**

I am able to drop the TSQLV6 Database column named address in table Sales.Customers but I am not able to drop the Northwinds2022TSQLV7 Database column named CustomerAddress in table Sales.Customer because the object 'USACusts' is dependent on column 'CustomerAddress' and ALTER TABLE DROP COLUMN CustomerAddress failed because one or more objects access this column.

In [ ]:

USE TSQLV6;

-- Try a schema change

ALTER TABLE Sales.Customers DROP COLUMN address;

GO


USE Northwinds2022TSQLV7;
ALTER TABLE Sales.Customer DROP COLUMN CustomerAddress;

GO

# CHAP 5 -- CHECK OPTION

## My Answer:

**TSQLV6:** I can't insert a row through the view because the column address doesn't exist in Sales.Customers table. Views display data from one or more tables. Depending on the view definition it may not include all the columns from the table. In this case, the View Sales.USACusts definition does include address but the column adress was dropped in Sales.Customers.

Instead of inserting in the view you can insert it in the table itself with out using the column address:

```
INSERT INTO Sales.Customers (companyname, contactname, contacttitle, address, city, region, postalcode, country, phone, fax)
VALUES (N'Customer FGHIJ', N'Contact FGHIJ', N'Title FGHIJ', N'Address FGHIJ', N'London', NULL, N'12345', N'UK', N'012-3456789', N'012-3456789');

```

**Northwinds2022TSQLV7:**

**Proposition:** Insert a row into the Sales.USACusts view with specified values for customer-related columns.

**View:** Sales.USACusts

**Columns:** CustomerCompanyName, CustomerContactName, CustomerContactTitle, CustomerAddress, CustomerCity, CustomerRegion, CustomerPostalCode, CustomerCountry, CustomerPhoneNumber, CustomerFaxNumber

**Predicate:** The INSERT INTO operation aims to insert a new row into the Sales.USACusts view with specific values for customer-related columns.

Since CustomerAddress still exists in table Sales.Customer from view Sales.USACusts due to not being able to drop the Northwinds2022TSQLV7 Database column named CustomerAddress in table Sales.Customer because the object 'USACusts' is dependent on column 'CustomerAddress' and ALTER TABLE DROP COLUMN CustomerAddress failed because one or more objects access this column. So I am able to insert a row through the view.

In [ ]:
/*USE TSQLV6;
-- Notice that you can't insert a row through the view

INSERT INTO Sales.USACusts(
  companyname, contactname, contacttitle,
  city, region, postalcode, country, phone, fax)
 VALUES(
  N'Customer FGHIJ', N'Contact FGHIJ', N'Title FGHIJ', 
  N'London', NULL, N'12345', N'UK', N'012-3456789', N'012-3456789');

GO
*/

USE Northwinds2022TSQLV7;
INSERT INTO Sales.USACusts(
  CustomerCompanyName, CustomerContactName, CustomerContactTitle, CustomerAddress,
  CustomerCity, CustomerRegion, CustomerPostalCode, CustomerCountry, CustomerPhoneNumber, CustomerFaxNumber)
 VALUES(
  N'Customer FGHIJ', N'Contact FGHIJ', N'Title FGHIJ', N'Address FGHIJ',
  N'London', NULL, N'12345', N'UK', N'012-3456789', N'012-3456789');

GO

# CHAP 5 -- Inline User Defined Functions

## My Answer:
**Proposition:** Drop the function named 'GetCustOrders' if it exists in the dbo schema.

**Function:** dbo.GetCustOrders

**Columns:** None referenced

**Predicate:** DROP FUNCTION IF EXISTS dbo.GetCustOrders. This command drops the function named 'GetCustOrders' from the dbo schema if it exists.

In [ ]:
-- cleans up function dbo.GetCustOrders

USE TSQLV6;
DROP FUNCTION IF EXISTS dbo.GetCustOrders;
GO


USE Northwinds2022TSQLV7;
DROP FUNCTION IF EXISTS dbo.GetCustOrders;
GO