# <u> **My Top 2 Queries** </u>
## **Homework 3S**

## **Chapter 06 - Set Operators - Exercise**
<img src="https://static.vecteezy.com/system/resources/previews/022/841/114/non_2x/chatgpt-logo-transparent-background-free-png.png" alt="AI" width="20" height="20"> _Written in collaboration with ChatGPT from OpenAI to improve understanding and assist with the explanation of the query_
- **Proposition:** The query intends to generate a comprehensive list of all conceivable combinations of customer and employee pairs based on specific order date conditions, leveraging the "Sales.[Order]" table.
- **Table:** The "Sales.[Order]" table is utilized in this query.
- **Columns:** The columns selected for this proposition are CustomerId and EmployeeId.
- **Predicate:**
- Before ChatGPT: The original query on the "Sales.[Order]" table utilizes set operations, focusing on CustomerId and EmployeeId columns. It begins by selecting distinct pairs for January and February 2016 orders, followed by INTERSECT to retain common pairs. The EXCEPT operation then eliminates 2015-associated pairs, refining the result set. Finally, an ORDER BY arranges output in descending order based on CustomerId and EmployeeId, ensuring clarity in the presented information. This approach efficiently combines set operations to filter and organize data based on specific conditions, yielding a concise and clear output.
- After ChatGPT: The query employs a series of set operations to achieve the desired result. It begins by selecting distinct pairs of CustomerId and EmployeeId for orders placed in January 2016 and February 2016. The INTERSECT operation ensures that only common pairs between the two sets are retained. Following this, the EXCEPT operation eliminates pairs associated with order activity in the year 2015. The final result set is ordered in descending order based on CustomerId and EmployeeId.
- **What's Special:** This SQL code uniquely combines set operations to efficiently filter and organize data, providing a clear and refined output. By using INTERSECT to identify common pairs and EXCEPT to exclude undesired pairs, the query ensures a precise list of customer and employee combinations meeting the specified date criteria. The ordering in descending order adds a further layer of clarity to the result set, creating a concise representation of the desired information.

In [ ]:
-- 5
-- Write a query that returns customer and employee pairs 
-- that had order activity in both January 2016 and February 2016
-- but not in 2015
-- Tables involved: TSQLV4 database, Orders table

--Desired output
-- custid      empid
-- ----------- -----------
-- 67          1
-- 46          5
-- (2 row(s) affected)

USE TSQLV4;  --Using TSQLV6 dont give any output. Instruction also said to use TSQLV4
SELECT custid, empid
FROM Sales.Orders
WHERE orderdate >= '20160101' AND orderdate < '20160201'

INTERSECT

SELECT custid, empid
FROM Sales.Orders
WHERE orderdate >= '20160201' AND orderdate < '20160301'

EXCEPT

SELECT custid, empid
FROM Sales.Orders
WHERE orderdate >= '20150101' AND orderdate < '20160101'
ORDER BY custid DESC, empid DESC;

USE Northwinds2022TSQLV7;
SELECT CustomerId, EmployeeId
FROM Sales.[Order]
WHERE orderdate >= '20160101' AND orderdate < '20160201'

INTERSECT

SELECT CustomerId, EmployeeId
FROM Sales.[Order]
WHERE orderdate >= '20160201' AND orderdate < '20160301'

EXCEPT

SELECT CustomerId, EmployeeId
FROM Sales.[Order]
WHERE orderdate >= '20150101' AND orderdate < '20160101'
ORDER BY CustomerId DESC, EmployeeId DESC;

## **Chapter 06 - Set Operators**
<img src="https://static.vecteezy.com/system/resources/previews/022/841/114/non_2x/chatgpt-logo-transparent-background-free-png.png" alt="AI" width="20" height="20"> _Written in collaboration with ChatGPT from OpenAI to improve understanding and assist with the explanation of the query_
- **Proposition:** The query aims to compile an exhaustive list of all conceivable combinations of employee and customer pairs based on location information, utilizing the "HumanResources.Employee" and "Sales.Customer" tables.
- **Table:** The query involves the "HumanResources.Employee" and "Sales.Customer" tables.
- **Columns:** The columns selected are EmployeeCountry, EmployeeRegion, and EmployeeCity from the "HumanResources.Employee" table, along with CustomerCountry, CustomerRegion, and CustomerCity from the "Sales.Customer" table.
- **Predicate:** 
- Before ChatGPT: In the original query, we use a UNION ALL to combine data from two SELECT statements. The first SELECT gets location details for employees, like EmployeeCountry, EmployeeRegion, and EmployeeCity. The second SELECT does the same for customers, with CustomerCountry, CustomerRegion, and CustomerCity. We choose UNION ALL to keep all rows from both SELECTs, even if there are duplicates. This gives us a big dataset showing all possible combinations of where employees and customers are located.
- After ChatGPT: The query employs a UNION ALL clause to combine the results of two SELECT statements. The first SELECT retrieves location details for employees, while the second SELECT fetches similar information for customers. UNION ALL is used to include all rows from both SELECT statements, preserving duplicates. This results in a comprehensive dataset showcasing all possible combinations of employee and customer location information.
- **What's Special:** The use of UNION ALL allows the query to seamlessly merge location details from employees and customers into a unified result set, providing a holistic view of the geographical aspects of both entities. The query efficiently utilizes the UNION ALL operator to maintain duplicate rows, ensuring a comprehensive representation of all possible combinations. This approach offers a concise and readable presentation of location information for employees and customers within a single result set.

In [ ]:
-- The UNION ALL Multiset Operator
USE TSQLV6;
SELECT country, region, city FROM HR.Employees
UNION ALL
SELECT country, region, city FROM Sales.Customers;

USE Northwinds2022TSQLV7;
SELECT EmployeeCountry, EmployeeRegion, EmployeeCity FROM HumanResources.Employee
UNION ALL
SELECT CustomerCountry, CustomerRegion, CustomerCity FROM Sales.Customer;