# **Top 3 Queries**
## **Query 1 (Chapter 6 Exercise 2)**
*<img src="https://static.vecteezy.com/system/resources/previews/022/841/114/non_2x/chatgpt-logo-transparent-background-free-png.png" alt="AI" width="20" height="20">
Written in collaboration with ChatGPT from OpenAI to improve understanding and assist with the explanation of the query*

### Proposition: Returns a list of numbers from 1 to 10.
### Table: None.
### Columns: The column selected is n.
### Predicate: This query will generate a virtual table with numbers from 1 to 10 using recursion in the CTE, without requiring any physical table.

### *What I think is special is that for this query, it shows us how to use recursion to build up a virtual table from 1-10.*

In [ ]:
WITH RecursiveNumbers AS (
    SELECT 1 AS n
    UNION ALL
    SELECT n + 1
    FROM RecursiveNumbers
    WHERE n < 10
)

SELECT n
FROM RecursiveNumbers;

## **Query 2**

### Proposition: Calculate row numbers for employees and customers based on their respective country, region, and city, ordering by row number using a constant value (SELECT 0) as tiebreaker.
### Table: HumanResources.Employee, Sales.Customer.
### Columns: The columns selected are rownum, EmployeeCountry, EmployeeRegion, EmployeeCity.
### Predicate: It uses a constant value (SELECT 0) as a tiebreaker when ordering rows within each partition to ensure deterministic results. The INTERSECT operator is then used to find the common combinations of EmployeeCountry, EmployeeRegion, and EmployeeCity that exist in both the HumanResources.Employee and Sales.Customer tables. 

### *What I think is special for this is that the way it used SELECT 0 as tiebreaker and the INTERSECT operator to find the combination of columns exist in 2 tables.*

In [ ]:
USE TSQLV6
SELECT
  ROW_NUMBER() 
    OVER(PARTITION BY country, region, city
         ORDER     BY (SELECT 0)) AS rownum,
  country, region, city
FROM HR.Employees

INTERSECT

SELECT
  ROW_NUMBER() 
    OVER(PARTITION BY country, region, city
         ORDER     BY (SELECT 0)),
  country, region, city
FROM Sales.Customers;

WITH INTERSECT_ALL
AS
(
  SELECT
    ROW_NUMBER() 
      OVER(PARTITION BY country, region, city
           ORDER     BY (SELECT 0)) AS rownum,
    country, region, city
  FROM HR.Employees

  INTERSECT

  SELECT
    ROW_NUMBER() 
      OVER(PARTITION BY country, region, city
           ORDER     BY (SELECT 0)),
    country, region, city
  FROM Sales.Customers
)
SELECT country, region, city
FROM INTERSECT_ALL;




USE Northwinds2022TSQLV7
SELECT
  ROW_NUMBER() 
    OVER(PARTITION BY EmployeeCountry, EmployeeRegion, EmployeeCity
         ORDER     BY (SELECT 0)) AS rownum,
  EmployeeCountry, EmployeeRegion, EmployeeCity
FROM HumanResources.Employee

INTERSECT

SELECT
  ROW_NUMBER() 
    OVER(PARTITION BY CustomerCountry, CustomerRegion, CustomerCity
         ORDER     BY (SELECT 0)),
  CustomerCountry, CustomerRegion, CustomerCity
FROM Sales.Customer;

WITH INTERSECT_ALL
AS
(
  SELECT
    ROW_NUMBER() 
      OVER(PARTITION BY EmployeeCountry, EmployeeRegion, EmployeeCity
           ORDER     BY (SELECT 0)) AS rownum,
    EmployeeCountry, EmployeeRegion, EmployeeCity
  FROM HumanResources.Employee

  INTERSECT

  SELECT
    ROW_NUMBER() 
      OVER(PARTITION BY CustomerCountry, CustomerRegion, CustomerCity
           ORDER     BY (SELECT 0)),
    CustomerCountry, CustomerRegion, CustomerCity
  FROM Sales.Customer
)
SELECT EmployeeCountry, EmployeeRegion, EmployeeCity
FROM INTERSECT_ALL;

## **Query 3**

### Proposition: Find the distinct combinations of Country, Region, and City from Production.Supplier table that is not in the HumanResources.Employee table. Then, intersect these combinations with the distinct combinations of Country, Region, and City from the Sales.Customer table.
### Table: Production.Supplier, HumanResources.Employee, Sales.Customer.
### Columns: SupplierCountry, SupplierRegion, SupplierCity.
### Predicate: This query first finds the distinct combinations of SupplierCountry, SupplierRegion, and SupplierCity from the Production.Supplier table that do not exist in the HumanResources.Employee table using the EXCEPT operator. Then, it intersects these combinations with the distinct combinations of CustomerCountry, CustomerRegion, and CustomerCity from the Sales.Customer table. Finally, it selects the common combinations of SupplierCountry, SupplierRegion, and SupplierCity that also exist in the Sales.Customer table.

### *What is special for this query is that it uses EXCEPT operator to filter out the combinations in one table but not in the other one which is the difference between them.*

In [ ]:
USE TSQLV6
(SELECT country, region, city FROM Production.Suppliers
 EXCEPT
 SELECT country, region, city FROM HR.Employees)
INTERSECT
SELECT country, region, city FROM Sales.Customers;



USE Northwinds2022TSQLV7
(SELECT SupplierCountry, SupplierRegion, SupplierCity FROM Production.Supplier
 EXCEPT
 SELECT EmployeeCountry, EmployeeRegion, EmployeeCity FROM HumanResources.Employee)
INTERSECT
SELECT CustomerCountry, CustomerRegion, CustomerCity FROM Sales.Customer;