# **Top 3 Queries**
## **Question 1 (Chapter 06 - Set Operators - Exercises)**

OPERATOR DIFFERENCE: The UNION and UNION ALL operators both combine the result sets of different select statements and return a single result set. However, the UNION ALL operator returns all the rows displayed in the combined result sets into a single result whereas the UNION operator returns only the distinct rows which means no duplicates. 

OPERATOR EQUIVALENCE: For both outputs to act equivalently, a query case would have to be that the combined result sets of the select statements derived from the tables have no duplicate rows. For example, let age be selected from the customer table (first select statement) and age be selected from the employee table (second select statement). The combined result sets of both select statements have to be all distinct ages for a UNION ALL and UNION operator to be equivalent given they are implemented to return a single result set of only distinct ages. 

THE BETTER OPERATOR WITH THE CONDITION OF RETURNING SAME OUTPUT: If implementing both the operators within a query return the same results, then, using an UNION ALL operator would be more efficient than an UNION operator due to faster query execution in performance. This is because the UNION operator has to check for duplicate rows within the combined result sets to create the single result set of distinct rows when the UNION ALL operator does not check.

## **Query (Chapter 06 - Set Operators)**

PROPOSITION: Returns a shared list of countries, regions, and cities of both employees and customers.

TABLES: The query involves two tables which are HumanResources.Employee and Sales.Customer.

COLUMNS: It selects the columns EmployeeCountry, EmployeeRegion, and EmployeeCity from the HumanResources.Employee table. It selects the CustomerCountry, CustomerRegion, and CustomerCity from the Sales.Customer table.

PREDICATE: The query uses the INTERSECT operator to combine the results of two select statements. The first select statement retrieves the country, region, and city of employees, while the second select statement retrieves the country, region, and city of customers. INTERSECT returns only the rows that appear in both result sets, finding the common cities between the employees and customers.

- *This query is special because it implements the interesect operator.*

In [ ]:
USE TSQLV6;

SELECT country, region, city FROM HR.Employees
INTERSECT
SELECT country, region, city FROM Sales.Customers;

USE Northwinds2022TSQLV7;

SELECT EmployeeCountry, EmployeeRegion, EmployeeCity FROM HumanResources.Employee
INTERSECT
SELECT CustomerCountry, CustomerRegion, CustomerCity FROM Sales.Customer;

## **Query (Chapter 06 - Set Operators)**

- *Before ChatGPT*

PROPOSITION: Returns suppliers’ locations shared with customers’ locations where no employees reside.

TABLES: The query involves three tables which are the Production.Supplier, HumanResources.Employee, and Sales.Customer tables.

COLUMNS: It selects SupplierCountry, SupplierRegion, and SupplierCity from the Production.Supplier table, EmployeeCountry, EmployeeRegion, and EmployeeCity from the HumanResources.Employee table. It selects CustomerCountry, CustomerRegion, and CustomerCity from the Sales.Customer table.

PREDICATE: The query first selects all suppliers' country, region, and city data, then removes any locations where employees reside using the EXCEPT operator. Finally, it finds the intersection of the remaining supplier locations with the locations of customers, ensuring the output includes supplier locations that are shared with customer locations where no employee resides.


- *After ChatGPT*

PROPOSITION: Returns suppliers’ locations where neither employees nor customers reside.

TABLES: The query involves three tables which are the Production.Supplier, HumanResources.Employee, and Sales.Customer tables.

COLUMNS: It selects SupplierCountry, SupplierRegion, and SupplierCity from the Production.Supplier table, EmployeeCountry, EmployeeRegion, and EmployeeCity from the HumanResources.Employee table. It selects  CustomerCountry, CustomerRegion, and CustomerCity from the Sales.Customer table.

PREDICATE: The query first selects all suppliers' country, region, and city data, then removes any locations where employees reside using the EXCEPT operator. Finally, it finds the intersection of the remaining supplier locations with the locations of customers, ensuring the output includes only supplier locations that are neither employee nor customer locations.


- *This query is special because it implements the EXCEPT operator.*


*<img src="https://static.vecteezy.com/system/resources/previews/022/841/114/non_2x/chatgpt-logo-transparent-background-free-png.png" alt="AI" width="20" height="20"> Written in collaboration with ChatGPT from OpenAI to improve understanding and assist with the explanation of the query*

In [ ]:
USE TSQLV6;

SELECT country, region, city FROM Production.Suppliers
EXCEPT
SELECT country, region, city FROM HR.Employees
INTERSECT
SELECT country, region, city FROM Sales.Customers;

USE Northwinds2022TSQLV7;

SELECT SupplierCountry, SupplierRegion, SupplierCity FROM Production.Supplier
EXCEPT
SELECT EmployeeCountry, EmployeeRegion, EmployeeCity FROM HumanResources.Employee
INTERSECT
SELECT CustomerCountry, CustomerRegion, CustomerCity FROM Sales.Customer;